<!-- content start -->
<script src="/statics/js/My97DatePicker/WdatePicker.js"></script>
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">
            {{if $data.status == 2}}订单审核{{/if}}
            {{if $data.status == 1}}未提交订单{{/if}}
            </strong></div>
    </div>

    <div class="am-g">
        <form method="post" action="{{site_url url='order/list_orders'}}/{{$data.status}}/1" class="search_form">

            <div class="am-u-sm-12 am-u-md-8">
                <div class="am-input-group am-input-group-sm">
                    <input style="width: 200px" type="text" class="am-form-field" name="keyword" value="{{$data.keyword}}" placeholder="请输入商店名称">
                </div>
                <div class="am-input-group am-input-group-sm">
                    {{if $data.status == 2}}申请时间{{/if}}
                    {{if $data.status == 1}}创建时间{{/if}}
                    <input  class="form-control" id="s_date" name="s_date" type="text" value="{{$data.s_date}}"
                            onfocus="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd'})">——
                    <input  class="form-control" id="e_date" name="e_date" type="text" value="{{$data.e_date}}"
                            onfocus="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd'})">
 <span class="am-input-group-btn">
            <input type="submit" class="am-btn am-btn-default" value="搜索"/>
          </span>
                </div>

            </div>

        </form>

    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th>商家名称</th>
                    <th>总金额</th>
                    <th>需支付</th>
                    <th>订单数</th>
                    <th>起始时间</th>
                    {{if $data.status != 1}}<th>申请时间</th>{{/if}}
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{foreach from=$data.items key=key item=item}}
                <tr>
                    <td><a>{{$item.shop_name}}</a></td>
                    <td><a>{{$item.total/100}}</a></td>
                    <td><a>{{$item.total*$item.percent/10000}}</a></td>
                    <td><a>{{$item.num}}</a></td>
                    <td><a>{{$item.cdate}}</a></td>
                    {{if $data.status != 1}}<td><a>{{$item.sdate}}</a></td>{{/if}}
                    <td><a>{{if $item.status == 3}}<font color="green">已完成</font>{{else if $item.status == 2}}<font color="red">待审核</font>{{else if $item.status == 1}}<font color="#9acd32">待提交</font>{{else}}<font color="red">已拒绝</font>{{/if}}</a></td>

                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a type="button" class="am-btn am-btn-danger" href="{{site_url url='order/order_detail'}}/{{$item.id}}/2">
                                    <span class="am-icon-pencil-square-o"></span> 详情
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/foreach}}
                </tbody>
            </table>
            <div class="am-cf">{{$pager}}</div>
        </div>

    </div>
</div>
<!-- content end -->

