{{include file="../public/header.html"}}
<style>
    .register_one_header{
        width: 100%;text-align: center;background: #01a2f2;
    }
    .register_header_title{
        text-align: center;line-height: 50px;font-size: 20px;font-family: '宋体';
    }
    .register_header_back{
        line-height: 50px;font-size: 20px;float: left;margin-left:5px ;
    }
    .register_one_header{
        border-color: #01a2f2;
    }
</style>
<body>
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
        <span class="register_header_title">确认订单</span>
        <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
    </header>
    <section>
        <div style="width: 100%;">
            <div style="width: 96%;margin: 0 auto;padding: 10px;">周小婷<span>15850293624</span></div>
            <div style="width: 96%;margin: 0 auto;padding-left: 10px;margin-top: -5px;">江苏省 苏州市 昆山市 学院路 999 号美居客电商产业园4楼 405室</div>
            <div style="margin-top: -5px;"><img src="../../statics/images/mall_icon_envelope.png"></div>
        </div>
    </section>
</body>