{{include file="./header.html"}}
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <form id="save_form" class="am-form-inline am-form" method="post" action="{{site_url url='user/save_information_revise'}}" data-am-validator>
            <div class="am-form-group am-form-file" style="width: 100%;text-align: center;margin-top: -50px;">
                <input id="file" type="file" accept="image/*" capture=camera"/>
                <div style="position: relative;">
                    <div style="">
                        <img id="previewResult" style="z-index: 11;" src="{{$base_url}}upload/face/{{$user_info.face}}"/>
                    </div>
                    <button type="button" class="am-btn am-btn-danger am-btn-sm" style="margin-top: 10px;">
                        <i class="am-icon-cloud-upload"></i> 修改头像</button>
                </div>
                <input type="hidden" name="img_input" id="img_input">
            </div>
            <div class="user_informatio">
                <div class="information_name">您的姓名：<span>{{$user_info.rel_name}}</span></div>
                <div class="information_tel">您的号码：<span>{{$user_info.mobile}}</span></div>
            </div>
            <div class="am-form-group am-form-select" style="margin-top:20px;width: 100%;">
                <select id="province_code" name="province_code" onchange="changeSelect(this)" style="width: 100%;height: 50px; " required>
                    <option value="">-省份-</option>
                    {{foreach from=$provinces item=row}}
                    <option value="{{$row.code}}" {{if $row.code eq $user_info.province_code}}selected="selected"{{/if}}>{{$row.name}}</option>
                    {{/foreach}}
                </select>
                <select id="city_code" name="city_code" style="width:100%; height: 50px;margin-top: 5px;" onchange="changeSelectCity(this)" required>
                    <option value="">-城市-</option>
                    {{foreach from=$city item=row}}
                    <option value="{{$row.code}}" {{if $row.code eq $user_info.city_code}}selected="selected"{{/if}}>{{$row.name}}</option>
                    {{/foreach}}
                </select>
                <select id="area_code" name="area_code" style="width:100%;height: 50px;margin-top: 5px;" required>
                    <option value="">-区域-</option>
                    {{foreach from=$area item=row}}
                    <option value="{{$row.code}}" {{if $row.code eq $user_info.area_code}}selected="selected"{{/if}}>{{$row.name}}</option>
                    {{/foreach}}
                </select>
            </div>
            <button type="button" class="am-btn am-btn-danger am-btn-block" data-am-modal="{target: '#my-popup'}" style="margin-top: 20px;">修改密码</button>


            <input id="save_btn" class="am-btn am-btn-secondary am-btn-block" style="margin-top: 5px;" type="button" value="确认">
            <a class="am-btn am-btn-default am-btn-block" style="margin-top: 5px;" href="{{site_url url='user'}}">返回</a>
        </form>
        <div class="am-popup" id="my-popup">
            <div class="am-popup-inner">
                <div class="am-popup-hd">
                    <h4 class="am-popup-title">修改密码</h4>
                        <span data-am-modal-close
                              class="am-close">&times;</span>
                </div>
                <div class="am-popup-bd" style="background: #ffffff;">
                    <div class="am-g">
                        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered"><br>
                            <form id="edit_pwd_form" method="post" class="am-form " action="{{site_url url='user/update_pwd'}}" data-am-validator>
                                <div class="am-form-group am-form-icon">
                                    <i class="am-icon-lock"></i>
                                    <input type="password" id="pwd_pass"  name="password" class="am-form-field js-pattern-number am-form-mobile" placeholder="请输入您的旧密码" style="height: 50px;" required />
                                </div>

                                <div class="am-form-group am-form-icon">
                                    <i class="am-icon-lock"></i>
                                    <input type="password" id="pwd_new_one"  name="new_password" class="am-form-field js-pattern-number am-form-mobile" placeholder="请输入新的新密码" style="height: 50px;" required />
                                </div>

                                <div class="am-form-group am-form-icon">
                                    <i class="am-icon-lock"></i>
                                    <input type="password" id="pwd_new_two"  name="new_password2" class="am-form-field js-pattern-number am-form-mobile" placeholder="请确认您的新密码" style="height: 50px;" required />
                                </div>
                                <button id="edit_pwd_btn" type="button" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next" style="margin-top: 20px;">修改</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<script src="{{$base_url}}statics/js/localResizeIMG.js"></script>
<script src="{{$base_url}}statics/js/mobileBUGFix.mini.js"></script>
<script>
    function get_yzm(){
        $.get("{{site_url url='/frontend/get_yzm'}}/"+$("[name='mobile']").val(),function(data){
            console.log(data)
        });
    }
    $('#file').localResizeIMG({
        width: 300,
        height: 300,
        quality: 1,
        success: function (result) {
            $("#img_input").val(result.base64);
            $("#previewResult").attr('src',result.base64)
        }
    });
</script>
<script type="text/javascript">
//    $().ready(function(){
//        $('[name="province_code"]').val("{{$user_info.province_code}}");
//        $('[name="province_code"]').trigger('change');
//        setTimeout(function(){
//            $('[name="city_code"]').val("{{$user_info.city_code}}");
//            $('[name="city_code"]').trigger('change');
//            setTimeout(function(){
//                $('[name="area_code"]').val("{{$user_info.area_code}}");
//            },300);
//        },300);
//    });
    function changeSelect(obj)
    {
        province = $(obj).val();
        html = '<option value="">-城市-</option>'
        if(province){
            $.getJSON("{{site_url url='frontend/get_city'}}/"+province,function(data){
                data.forEach(function(item){
                    html += '<option value="'+ item.code +'">'+item.name+'</option>'

                })
                $("[name='city_code']").html(html)
            });
        }else{
            $("[name='city_code']").html(html)
        }
    }
    function changeSelectCity(obj)
    {
        city = $(obj).val();
        html = '<option value="">-区域-</option>'
        if(city){
            $.getJSON("{{site_url url='frontend/get_area'}}/"+city,function(data){
                data.forEach(function(item){
                    html += '<option value="'+ item.code +'">'+item.name+'</option>'

                })
                $("[name='area_code']").html(html)
            });
        }else{
            $("[name='area_code']").html(html)
        }
    }
    $("#save_btn").click(function(){
        if($("#province_code").val()==""){
            $("#province_code").focus();
            alert('请选择省份!');
            return false;
        }
        if($("#city_code").val()==""){
            $("#city_code").focus();
            alert('请选择城市!');
            return false;
        }
        if($("#area_code").val()==""){
            $("#area_code").focus();
            alert('请选择区域!');
            return false;
        }
        $("#save_form").submit();
    })
    $("#edit_pwd_btn").click(function(){
        if($("#pwd_pass").val()==""){
            alert('请填写旧密码!');
            return false;
        }
        if($("#pwd_new_one").val()==""){
            alert('请填写新密码!');
            return false;
        }
        if($("#pwd_new_one").val()!=$("#pwd_new_two").val()){
            alert('新密码填写不一致!');
            return false;
        }
        if($("#pwd_pass").val()==$("#pwd_new_one").val()){
            alert('新密码不能与旧密码一致!');
            return false;
        }
        $("#edit_pwd_form").submit();
    })
</script>

