{{include file="./header.html"}}
<style>
    .list_all{
        color: #696969;font-size: 18px;z-index: 11;
    }
     #list_btn{
         width: 100%;background:rgba(255, 255, 255, 0.5);
     }
    .list_all_btn{
        width: 100%;height: 50px;
    }
    .list_all_user_img{
        margin-left: 20px;line-height: 50px;color: #3ab5f3;
    }
    .list_all_user_id{
        line-height: 50px;
    }
    .list_all_sort_img{
        float: right;line-height: 40px;color: #569cf1;
    }
    .list_all_money{
        float: right; margin-right: 25px;line-height: 50px;
    }
    .list_all_rmb{
        float: right; margin-right: 15px;line-height: 50px;color:#e47b75;
    }
    .list_all_information{
        border-bottom: 1px solid #eeeeee;margin-top: 10px;padding-bottom: 10px;margin-left: 30px;
    }
    .list_all_information_mobile{
        color: #4f9ce0;
    }
    .list_all_information_name{
        color: #9381b3;
    }
    .list_all_information_time{
        color: #9cbb80;
    }
    .list_all_button{
        width: 100%;height: 30px;margin-top: -10px;color: #3ab5f3;
    }
    .list_all_button_delete{
        float: right;background: #ffffff;margin-top: -18px;color: #3ab5f3;
    }
    .list_all_button_update{
        height: 30px;float: right;margin-right: 1px;background: #ffffff;margin-top: -18px;
    }
    .xuanfu_plus{
        z-index: 55;
    }
    .xuanfu_icon_plus{
        position: fixed;bottom: 150px;right: 20px;
    }
    .xuanfu_icon_search{
        position: fixed;bottom: 80px;right: 20px;
    }
    #my-actions-search{
        background: rgba(0, 0, 0, 0.8);
    }
    .input_start_time{
        width: 50%; float: left;
    }
    .input_end_time{
        width: 50%;float: right;
    }
    .input_search_user{
        height: 50px;
    }
    .div_search_btn{
        margin-top: 30px;
    }
    .user_add_title{
        color: #3ab5f3;font-family: '宋体'
    }
    .user_add_bak{
        width: 100%; background: #ffffff;
    }
    .user_add_phone{
        width: 60%; height: 50px;
    }
    .user_add_user_name{
        float: right;margin-top: -60px; margin-right: 15%;
    }
    .user_add_money{
        width: 60%; height: 50px;
    }
    .user_add_button{
        margin-top: 50px;
    }
    .user_add_button_add{
        width: 48%; height: 50px; margin-left: 2%;
    }
    .user_add_button_equit{
        width: 48%; height: 50px;
    }
    #is_end{
        display: none;text-align: center; height: 20px; margin-top: -10px;font-size: 14px;
    }
</style>
{{foreach from=$data.items item=row}}
<div class="am-panel am-panel-default" >
    <div id="list_btn" class="am-panel-hd" >
        <div class="am-panel-title list_all_btn" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{{$row.id}}'}">
            <span class="am-front-icon am-icon-user list_all_user_img"></span>
            <span class="list_all_user_id">&nbsp;ID:{{$row.uid}}</span>
            <span class="am-icon-sort-desc list_all_sort_img"></span>
            <span class="list_all_money">{{$row.price/100}}元</span>
            <span class="am-front-icon am-icon-rmb list_all_rmb"></span>
        </div>
    </div>
    <div id="do-not-say-{{$row.id}}" class="am-panel-collapse am-collapse">
        <div class="am-panel-bd">
            <p class="list_all_information"><span class="am-icon-phone list_all_information_mobile"></span>&nbsp;&nbsp;手机：{{$row.mobile}}</p>
            <p class="list_all_information"><span class="am-icon-user list_all_information_name"></span>&nbsp;&nbsp;姓名：{{$row.rel_name}}</p>
            <p class="list_all_information"><span class="am-icon-clock-o list_all_information_time"></span>&nbsp;&nbsp;时间：{{$row.cdate}}</p>
        </div>
        <div class="list_all_button">
            <button type="button" class="am-btn list_all_button_delete flag-{{$page}}" target="{{$row.id}}">删除</button>
        </div>
    </div>
</div>
{{/foreach}}