{{foreach from=$data.items item=row}}
<div class="am-panel am-panel-default">
    <div id="list_btn" class="am-panel-hd" >
        <div class="am-panel-title list_all_btn" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{{$row.id}}'}">
            <!--<span class="am-front-icon am-icon-user list_all_user_img"></span>-->
            <!--<span class="list_all_user_id">&nbsp;ID:{{$row.uid}}</span>-->
            <!--<span class="am-icon-sort-desc list_all_sort_img"></span>-->
            <!--<span class="list_all_money">{{$row.price/100}}元</span>-->
            <!--<span class="am-front-icon am-icon-rmb list_all_rmb"></span>-->
            <table class="" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td id="home" style="width:55%;line-height: 50px;">
                        <span class="am-front-icon am-icon-user list_all_user_img" style="margin-left: 5px;"></span>
                        <span class="list_all_user_id">&nbsp;ID:{{$row.uid}}</span>
                    </td>

                    <td id="myorder" style="width:5%;">
                        <span class="am-front-icon am-icon-rmb" style="color: #e47b75;"></span>
                    </td>

                    <td id="cheaporder" style="width: 30%;">
                        <span>{{$row.price/100}}</span>
                    </td>

                    <td id="message" style="width: 8%;">
                        <span class="am-icon-sort-desc" style="color: #569cf1;"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="do-not-say-{{$row.id}}" class="am-panel-collapse am-collapse">
        <div class="am-panel-bd">
            <p class="list_all_information" style=""><span class="am-icon-phone list_all_information_mobile"></span>&nbsp;&nbsp;商家：{{$row.shop_name}}</p>
            <div style="border-bottom: 1px solid #f3f3f3;margin-top: -10px;">
              <span style="display: block; float: left;padding-top: 10px;"><span class="am-icon-map-marker list_all_information_mobile" style="color: #9381b3;"></span>&nbsp;地址：</span>
              <p style="padding-left:3em;padding-top: 10px;">{{$row.address}}</p>
            </div>
            <!--<p class="list_all_information"><span class="am-icon-map-marker list_all_information_name"></span>&nbsp;&nbsp;地址：{{$row.address}}</p>-->

            <p class="list_all_information"><span class="am-icon-clock-o list_all_information_time"></span>&nbsp;&nbsp;时间：{{$row.cdate}}</p>
        </div>
    </div>
</div>
{{/foreach}}