{{include file="../public/header.html"}}
<link rel="stylesheet" href="../../statics/css/moneyloglist.css">
<input type="hidden" id="s_date" value="{{$s_date}}">
<input type="hidden" id="e_date" value="{{$e_date}}">
<body>
	<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
	<span class="register_header_title">资金日志</span>
	<a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</header>
	<section>
		<div class="money_log_list_div_all">
			<table class="table1" border="0">
			<tr>
				<td class="td1"><a href="{{site_url url='user/money_log_list'}}" onclick="money_record()" id="money_record">资金日志</a></td>
				<td class="td1"><a href="{{site_url url='user/withdraw_list'}}" onclick="cash_record()" id="cash_record">提现日志</a></td>
				<td class="td1"><a href="{{site_url url='user/withdraw'}}" onclick="application_record()" id="application_record">申请提现</a></td>
			</tr>
		</table>
			<div class="am-modal-actions" style="height: 20em" id="my-actions-search">
			<form class="am-form-inline" role="form" action="{{site_url url='user/money_log_list'}}" method="post">
				<div class="am-modal-actions-group">
					<ul class="am-list">
						<div class="am-form-group input_start_time">
							<input type="datetime" class="am-form-field" data-am-datepicker readonly name="s_date" value="{{$s_date}}" placeholder="开始时间">
						</div>
						<div class="am-form-group input_end_time">
							<input type="datetime" class="am-form-field" data-am-datepicker readonly name="e_date" value="{{$e_date}}" placeholder="结束时间">
						</div>
					</ul>
				</div>
				<div class="am-modal-actions-group div_search_btn">
					<button class="am-btn am-btn-warning am-btn-block">搜索</button>
					<button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>取消</button>
				</div>
			</form>
		</div>
			<table class="table" border="0">
				<thead>
					<tr>
						<td class="td">金额变化</td>
						<td class="td">日期</td>
						<td class="td">详情</td>
					</tr>
				</thead>
				<tbody id="accordion">

				</tbody>
			</table>
			<p id="is_end">已到最后一页</p>
			<div class="xuanfu_plus">
			 	<a class="am-icon-btn am-icon-search xuanfu_icon_search" data-am-modal="{target: '#my-actions-search'}"></a>
			</div>
			<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">正在加载...</div>
				<div class="am-modal-bd">
					<span class="am-icon-spinner am-icon-spin"></span>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
{{include file="../public/footer.html"}}
<script>
	window.is_end = false
	window.page = 1
	$(window).scroll(function () {
		var scrollTop = $(this).scrollTop();
		var scrollHeight = $(document).height();
		var windowHeight = $(this).height();
		if (scrollTop + windowHeight == scrollHeight) {
			if(window.is_end){
				$("#is_end").show()
			}else{
				$("#my-actions-search").show()
				$('#my-modal-loading').modal()
				get_data()
			}
		}
	});

	function get_data(){
		s_date = $('#s_date').val()
		e_date = $('#e_date').val()
		$.post("{{site_url url='user/money_log_list_loaddata'}}/"+window.page,{s_date:s_date,e_date:e_date},function(data){
			if(data){
				$("#accordion").append(data)
				$('#accordion').find('.flag-'+window.page).add('#doc-confirm-toggle').
				on('click', function() {
					$('#my-confirm').modal({
						relatedTarget: this,
						onConfirm: function(options) {

						},
						onCancel: function() {

						}
					});
				});
				window.page += 1
				$('#my-modal-loading').modal('close');
			}else{
				$('#my-modal-loading').modal('close');
				$("#is_end").show()
				window.is_end = true
			}

		});
	}
	get_data()
	$(function() {

	});

	window.onload=function(){
		money_record();
	}

	function money_record() {
		$("#money_record").css("color","#3ab5f3");
		$("#cash_record").css("color","#7c7c7c");
		$("#application_record").css("color","#7c7c7c");
	}
	function cash_record() {
		$("#money_record").css("color","#7c7c7c");
		$("#cash_record").css("color","#3ab5f3");
		$("#application_record").css("color","#7c7c7c");
	}
	function application_record() {
		$("#money_record").css("color","#7c7c7c");
		$("#cash_record").css("color","#7c7c7c");
		$("#application_record").css("color","#3ab5f3");
	}

</script>