{{include file="./header.html"}}

<style>
    .table1{
        width: 100%; height: 45px; border-collapse:collapse;color: #bfbfbf;
    }
    .table1 tr{
        font-size: 14px;text-align: center;color: #999999;
    }
    .td1{
        border-bottom:1px solid #e5e5e5;
    }
    .td1 a{
        color: #777777;
    }
    .table{
        width: 100%; height: 50px; border-collapse:collapse;color: #bfbfbf;
    }
    .table tr{
        font-size: 13px; height: 50px; text-align: center;color: #999999;
    }
    .td{
        border-bottom:1px solid #e5e5e5;
    }
    .table .my_team_title{
        color: #343434;font-weight: bold;font-size: 15px;
    }
    .table .my_team_title_content{
        color: #676767; font-size: 14px;
    }
</style>

<body style="background: #ffffff;">

   <div style="padding-bottom: 100px;">
       <input type="hidden" id="type" value="{{$type}}">
       <table class="table1" border="0">
           <tr>
               <td class="td1" style="{{if $type==1}}color:#3ab5f3{{else}}color:#7c7c7c{{/if}}"  id="my_vip">
                   <a style="{{if $type==1}}color:#3ab5f3{{else}}color:#7c7c7c{{/if}}" href="{{site_url url='user/my_team/1'}}">会员</a>
               </td>
               <td class="td1" style="{{if $type==2}}color:#3ab5f3{{else}}color:#7c7c7c{{/if}}" id="my_shop">
                   <a style="{{if $type==2}}color:#3ab5f3{{else}}color:#7c7c7c{{/if}}" href="{{site_url url='user/my_team/2'}}">
                   商家
                   </a>
               </td>
               <td class="td1" style="{{if $type==3}}color:#3ab5f3{{else}}color:#7c7c7c{{/if}}" id="my_XXX">
                   <a style="{{if $type==3}}color:#3ab5f3{{else}}color:#7c7c7c{{/if}}" href="{{site_url url='user/my_team/3'}}">
                   XXX
                   </a>
               </td>
           </tr>
       </table>

       <div>
           <table class="table" border="0">
               <thead>
               {{if $type==1}}
               <tr class="my_team_title">
                   <td class="td">ID</td>
                   <td class="td">姓名</td>
                   <td class="td">手机号码</td>
                   <td class="td">消费总额</td>
               </tr>
               {{/if}}
               {{if $type==2}}
               <tr class="my_team_title">
                   <td class="td">商家名称</td>
                   <td class="td">营业额</td>
                   <td class="td">类别</td>
                   <td class="td">推荐者</td>
               </tr>
               {{/if}}
               {{if $type==3}}
               <tr class="my_team_title">
                   <td class="td">商家名称</td>
                   <td class="td">营业额</td>
                   <td class="td">类别</td>
                   <td class="td">推荐者</td>
               </tr>
               {{/if}}
               </thead>

               <tbody id="accordion">

               </tbody>

           </table>
           <p id="is_end" style="text-align: center;font-size: 12px;">已到最后一页</p>
       </div>
       <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
           <div class="am-modal-dialog">
               <div class="am-modal-hd">正在加载...</div>
               <div class="am-modal-bd">
                   <span class="am-icon-spinner am-icon-spin"></span>
               </div>
           </div>
       </div>
   </div>
    <script>

        /*function my_vip() {
            $("#my_vip").css("color","#3ab5f3");
            $("#my_shop").css("color","#7c7c7c");
            $("#my_XXX").css("color","#7c7c7c");
            $("#my_vip_content").css("display","block");
            $("#my_shop_content").css("display","none");
            $("#my_XXX_content").css("display","none");
        }
        function my_shop() {
            $("#my_vip").css("color","#7c7c7c");
            $("#my_shop").css("color","#3ab5f3");
            $("#my_XXX").css("color","#7c7c7c");
            $("#my_vip_content").css("display","none");
            $("#my_shop_content").css("display","block");
            $("#my_XXX_content").css("display","none");
        }
        function my_XXX() {
            $("#my_vip").css("color","#7c7c7c");
            $("#my_shop").css("color","#7c7c7c");
            $("#my_XXX").css("color","#3ab5f3");
            $("#my_vip_content").css("display","none");
            $("#my_shop_content").css("display","none");
            $("#my_XXX_content").css("display","block");
        }*/
    </script>
</body>
{{include file="../public/footer.html"}}
<script>
    window.is_end = false
    window.page = 1
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
            if(window.is_end){
                $("#is_end").show()
            }else{
                $("#my-actions-search").show()
                $('#my-modal-loading').modal()
                get_data()
            }
        }
    });

    function get_data(){
        type = $('#type').val()
        $.post("{{site_url url='user/my_team_loaddata'}}/"+window.page,{type:type},function(data){
            if(data){
                $("#accordion").append(data)
                $('#accordion').find('.flag-'+window.page).add('#doc-confirm-toggle').
                on('click', function() {
                    $('#my-confirm').modal({
                        relatedTarget: this,
                        onConfirm: function(options) {

                        },
                        onCancel: function() {

                        }
                    });
                });
                window.page += 1
                $('#my-modal-loading').modal('close');
            }else{
                $('#my-modal-loading').modal('close');
                $("#is_end").show()
                window.is_end = true
            }

        });
    }
    get_data()
    $(function() {

    });


</script>