{{include file="../public/header.html"}}
<link rel="stylesheet" href="../../statics/css/receiveaddress.css">
<body class="receive_management_address_body_all">
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
        <span class="register_header_title">收货地址管理</span>
        <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
    </header>
    <section>
        <div class="row-one">
            <span class="row-one-name">小明</span>
            <span class="row-one-phone">18435119332</span>
            <p class="row-one-address"><i class="am-icon-map-marker"></i> &nbsp;江苏省 苏州市 昆山市 巴城镇学院路美居客4楼405室</p>
        </div>
        <div class="row-two">
            <div class="am-g">
                <div class="am-u-sm-5">
                    <img src="../../statics/images/mall_icon_default.png" alt="">
                    <span id="row-two-choice">默认地址</span>
                </div>
                <div class="am-u-sm-7" style="text-align: center">
                    <img src="../../statics/images/mall_icon_edit.png" alt="">
                    <span>编辑</span>
                    <img src="../../statics/images/mall_icon_delete.png" alt="">
                    <span>删除</span>
                </div>
            </div>
        </div>
        <div class="jiange"></div>
        <div class="row-one">
            <span class="row-one-name">小明</span>
            <span class="row-one-phone">18435119332</span>
            <p class="row-one-address"><i class="am-icon-map-marker"></i> &nbsp;江苏省 苏州市 昆山市 巴城镇学院路美居客4楼405室</p>
        </div>
        <div class="row-two">
            <div class="am-g">
                <div class="am-u-sm-5">
                    <img src="../../statics/images/mall_icon_choice@3x.png" alt="">
                    <span>设为默认</span>
                </div>
                <div class="am-u-sm-7" style="text-align: center">
                    <img src="../../statics/images/mall_icon_edit@3x.png" alt="">
                    <span>编辑</span>
                    <img src="../../statics/images/mall_icon_delete.png" alt="">
                    <span>删除</span>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <img src="../../statics/images/mall_icon_newlybuild.png" data-am-modal="{target: '#my-alert'}">
        <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">添加收货地址</div>
                <span data-am-modal-close class="am-close">&times;</span>
                <div class="am-modal-bd">
                    <form class="am-form" data-am-validator action="" method="post">
                    <div class="am-form-group am-form-icon">
                        <i class="am-icon-user"></i>
                        <input type="text" style="border-radius: 10px;" id=""  name="name" class="am-form-field am-form-mobile sky_register_border" placeholder="收货人" required />
                    </div>
                    <div class="am-form-group am-form-icon">
                        <i class="am-icon-mobile-phone"></i>
                        <input type="number" style="border-radius: 10px;" id="doc-vld-phone-2"  name="mobile" class="am-form-field  am-form-mobile sky_register_border" placeholder="请输入你的手机号(11位)" required />
                    </div>
                    <div class="am-form-group am-form-icon">
                        <i class="am-icon-home"></i>
                        <input type="text" style="border-radius: 10px;" name="address" class="am-form-field am-form-mobile sky_register_border" placeholder="收货地址" required />
                    </div>
                        <button type="submit" class="am-btn am-btn-block am-btn-next">保存收货地址</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <!--{{include file="../public/footer.html"}}-->
</body>