{{include file="./header.html"}}

<style>
    .list_all{
        color: #696969;font-size: 18px;z-index: 11;
    }

    .list_all_btn{
        width: 100%;height: 50px;
    }
    .list_all_user_img{
        margin-left: 20px;line-height: 50px;color: #3ab5f3;
    }
    .list_all_user_id{
        line-height: 50px;
    }
    .list_all_sort_img{
        float: right;line-height: 40px;color: #569cf1;
    }
    .list_all_money{
        float: right; margin-right: 25px;line-height: 50px;
    }
    .list_all_rmb{
        float: right; margin-right: 15px;line-height: 50px;color:#e47b75;
    }
    .list_all_information{
        border-bottom: 1px solid #eeeeee;margin-top: 10px;padding-bottom: 10px;
    }
    .list_all_information_mobile{
        color: #4f9ce0;margin-left: 30px;
    }
    .list_all_information_name{
        color: #9381b3;margin-left: 30px;
    }
    .list_all_information_time{
        color: #9cbb80;margin-left: 30px;
    }
    .list_all_button{
        width: 100%;height: 30px;margin-top: -10px;color: #3ab5f3;
    }
    .list_all_button_delete{
       float: right;background: #ffffff;margin-top: -18px;color: #3ab5f3;
    }
    .list_all_button_update{
        height: 30px;float: right;margin-right: 1px;background: #ffffff;margin-top: -18px;
    }
    .xuanfu_plus{
        z-index: 55;
    }
    .xuanfu_icon_plus{
        position: fixed;bottom: 150px;right: 20px;
    }
    .xuanfu_icon_search{
        position: fixed;bottom: 80px;right: 20px;
    }
    #my-actions-search{
        background: rgba(0, 0, 0, 0.8);
    }
    .input_start_time{
        width: 50%; float: left;
    }
    .input_end_time{
        width: 50%;float: right;
    }
    .input_search_user{
        height: 50px;
    }
    .div_search_btn{
        margin-top: 30px;
    }
    .user_add_title{
        color: #3ab5f3;font-family: '宋体'
    }
    .user_add_bak{
        width: 100%; background: #ffffff;
    }
    .user_add_phone{
        width: 60%; height: 50px;
    }
    .user_add_user_name{
        float: right;margin-top: -60px; margin-right: 15%;
    }
    .user_add_money{
        width: 60%; height: 50px;
    }
    .user_add_button{
        margin-top: 50px;
    }
   .user_add_button_add{
       width: 48%; height: 50px; margin-left: 2%;
   }
    .user_add_button_equit{
        width: 48%; height: 50px;
    }
</style>

<script src="{{$base_url}}statics/js/user_list.js"></script>

<div class="list_all">
    <div class="am-panel-group" id="accordion">

        <div class="am-panel am-panel-default">
            <div id="list_btn" class="am-panel-hd" style="width: 100%;background:rgba(255, 255, 255, 0.5);">
                <div class="am-panel-title list_all_btn" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                    <span class="am-front-icon am-icon-user list_all_user_img"></span>
                    <span class="list_all_user_id">&nbsp;id:123</span>
                    <span class="am-icon-sort-desc list_all_sort_img"></span>
                    <span class="list_all_money">2000元</span>
                    <span class="am-front-icon am-icon-rmb list_all_rmb"></span>
                </div>
            </div>
            <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in">
                <div class="am-panel-bd">
                    <p class="list_all_information"><span class="am-icon-phone list_all_information_mobile"></span>&nbsp;手机：15850293624</p>
                    <p class="list_all_information"><span class="am-icon-user list_all_information_name"></span>&nbsp;姓名：小周</p>
                    <p class="list_all_information"><span class="am-icon-clock-o list_all_information_time"></span>&nbsp;时间：2016.11.04</p>
                </div>
                <div class="list_all_button">
                    <button type="button" class="am-btn list_all_button_delete">删除</button>
                    <button type="button" class="am-btn list_all_button_update">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="xuanfu_plus">
    <a href="##" class="am-icon-btn am-icon-plus xuanfu_icon_plus" data-am-modal="{target: '#my-popup'}"></a>
    <a href="##" class="am-icon-btn am-icon-search xuanfu_icon_search" data-am-modal="{target: '#my-actions-search'}"></a>
</div>

<div class="am-modal-actions" id="my-actions-search">
    <div class="am-modal-actions-group">
        <ul class="am-list">
            <form class="am-form-inline" role="form">
                <div class="am-form-group input_start_time">
                    <input type="datetime" class="am-form-field" placeholder="开始时间">
                </div>
                <div class="am-form-group input_end_time">
                    <input type="datetime" class="am-form-field" placeholder="结束时间">
                </div>
                <input type="text" id="doc-ipt-3-1" class="am-form-field input_search_user" placeholder="客户（姓名,电话）模糊搜索">
            </form>
        </ul>
    </div>
    <div class="am-modal-actions-group div_search_btn">
        <button class="am-btn am-btn-warning am-btn-block" data-am-modal-close>搜索</button>
        <button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>取消</button>
    </div>
</div>

<div class="am-popup" id="my-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title user_add_title">用户添加</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd user_add_bak">
            <form method="post" class="am-form " action="/frontend/register" data-am-validator style="margin-top: 80px;">
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-mobile-phone" style="font-size: 26px;"></i>
                    <input type="number" id="doc-vld-phone-1"  name="mobile" class="am-form-field js-pattern-number user_add_phone" placeholder="请输入手机号/id" required />
                </div>
                <div class="am-form-group">
                    <label class="user_add_user_name">用户姓名</label>
                </div>
                <div class="am-form-group am-form-icon">
                    <i class="am-icon-rmb" style="font-size: 18px;"></i>
                    <input type="number" id="doc-vld-phone-2"  name="mobile" class="am-form-field js-pattern-number user_add_money" placeholder="请输入金额"  required />
                </div>

                <!--<button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block" style=" height:50px; width: 40%;">下一步</button>-->
                <!--<button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block" style=" height:50px; width: 40%; float: right;">下一步</button>-->
                <div class="list_all_button user_add_button">
                    <button type="button" class="am-btn am-btn-secondary user_add_button_add" id="order_add">添加</button>
                    <button type="button" class="am-btn am-btn-secondary user_add_button_equit" id="cancel_order_add">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>


