<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员中心</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed"
          href="{{$base_url}}statics/amaze/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet"
          href="{{$base_url}}statics/amaze/css/amazeui.min.css" />
    <link rel="stylesheet" href="{{$base_url}}statics/amaze/css/admin.css">
    <link rel="stylesheet" href="{{$base_url}}statics/css/stylecss.css">
    <link rel="stylesheet" href="{{$base_url}}statics/css/usercss.css">
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{$base_url}}assets/js/polyfill/rem.min.js"></script>
    <script src="{{$base_url}}assets/js/polyfill/respond.min.js"></script>
    <script src="{{$base_url}}assets/js/amazeui.legacy.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="{{$base_url}}statics/amaze/js/jquery.min.js"></script>
    <script src="{{$base_url}}statics/amaze/js/amazeui.js"></script>
    <!--<![endif]-->
    <script src="{{$base_url}}statics/amaze/js/app.js"></script>

    <script src="{{$base_url}}statics/js/common.js"></script>

</head>
<body class="user_center_body" style="overflow: auto;">
 <div class="header_center">
    <img src="{{$base_url}}statics/images/2.jpg">
    <div class="header_photo">
        <a href="{{site_url url='frontend/register_shop'}}" class="header_shop">商家入驻</a>
        <div class="header_photo_user">
            <img {{if $user_info.face}}src="{{$base_url}}upload/face/{{$user_info.face}}"{{else}}src="{{$base_url}}statics/images/2.jpg"{{/if}}">
        </div>
        <div class="header_photo_user_name">普通用户</div>
    </div>
    <div class="header_font">
       <span class="header_font_1">
           你好，{{$user_info.rel_name}}
       </span><br>
        <span class="header_font_2">
            <span><img src="{{$base_url}}statics/images/zhongzi.png" style="width: 25px;height: 25px;"></span>金币：{{$user_info.integral}}&nbsp;&nbsp;向日葵总计：xx</span>
    </div>
</div>
<div class="list" style="padding-bottom:50px;">
    <a style="color: #696969" href="{{site_url url='user/information_revise'}}">
        <div class="list_back">
                <span class="am-icon-cogs list_bac_name">&nbsp;&nbsp;账户管理</span>
                <span class="list_bac_jiantou" >></span>
        </div>
    </a>
    <a style="color: #696969" href="{{site_url url='user/withdraw'}}">
        <div class="list_back">
            &nbsp;<span class="am-icon-credit-card list_bac_name">&nbsp;&nbsp;资金管理</span>
            <span class="list_bac_jiantou">></span>
        </div>
    </a>
    <br>

    {{if $user_info.shop_id > 0}}
    <a style="color: #696969" href="{{site_url url='shop'}}">
        <div class="list_back" >
            &nbsp;<span class="am-icon-building-o list_bac_name">&nbsp;&nbsp;我的商家</span>
            <span class="list_bac_jiantou" >></span>
        </div>
    </a>
    {{/if}}
    <a style="color: #696969" href="{{site_url url='user/list_orders'}}">
        <div class="list_back" >
            &nbsp;<span class="am-icon-cart-plus list_bac_name">&nbsp;&nbsp;我的订单</span>
            <span class="list_bac_jiantou" >></span>
        </div>
    </a>

    <button class="am-btn am-btn-secondary am-btn-block" style="margin-top: 30px;">返回</button>
</div>
 {{include file="../public/footer.html"}}
</body>