{{include file="./header.html"}}
<style>


    a{
        color:#c7c7c7;
        background: #fff;
    }

    .am-tabs-d2 .am-tabs-nav > .am-active::after{
        border-style:none;
    }
    .am-tabs-d2 .am-tabs-nav > .am-active a{
        color: #f15a0c;
    }
    .am-tabs-d2 .am-tabs-nav > .am-active {
        border-bottom: 4px solid #f15a0c;

    }
    .am-tabs-d2 .am-tabs-nav li{
        height: 42px;
    }
    .am-tabs-d2 .am-tabs-nav a{
        color: #c7c7c7;
    }

    .am-table > tbody > tr > td,
    .am-table > tbody > tr > th,
    .am-table > tfoot > tr > td,
    .am-table > tfoot > tr > th,
    .am-table > thead > tr > td,
    .am-table > thead > tr > th {
        font-size: 14px;
        text-align: center;
        color:#7f8c8d;
        border-top: 1px solid #fafafa;
        line-height: 1.6;
        padding: 1.1rem;
        vertical-align: top;
    }
    .am-tabs-bd{
        border: none;
    }
    .am-table > thead > tr > th {
        border-bottom:none;

    }
    .am-tabs-bd .am-tab-panel{
        padding: 0;
    }
</style>


<body style="background: #ffffff;">
<div data-am-widget="tabs"  class="am-tabs am-tabs-d2">
    <ul class="am-tabs-nav am-cf">
        <li class="am-active"><a href="[data-tab-panel-0]">6%激励</a></li>
        <li ><a href="[data-tab-panel-1]">12%激励</a></li>
        <li class=""><a href="[data-tab-panel-2]">24%激励</a></li>
    </ul>
    <div class="am-tabs-bd">
        <div data-tab-panel-0 class="am-tab-panel am-active">
            <img src="img/beijing.jpg"  width="100%" height="170px">
            <table class="am-table">
                <thead>
                <tr>
                    <th>向日葵</th>
                    <th>已返</th>
                    <th>日期</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                <tr>
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                <tr class="am-active">
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div data-tab-panel-1 class="am-tab-panel ">
            <img src="img/beijing.jpg"  width="100%" height="170px">
            <table class="am-table">
                <thead>
                <tr>
                    <th>向日葵</th>
                    <th>已返</th>
                    <th>日期</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                <tr>
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                <tr class="am-active">
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div data-tab-panel-2 class="am-tab-panel ">
            <img src="img/beijing.jpg"  width="100%" height="170px">
            <table class="am-table">
                <thead>
                <tr>
                    <th>向日葵</th>
                    <th>已返</th>
                    <th>日期</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                <tr>
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                <tr class="am-active">
                    <td><i class="am-icon-star"></i>(500)</td>
                    <td>100</td>
                    <td>2016-11-11 11:11:11</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{include file="../public/footer.html"}}
</body>
