{{include file="../public/header.html"}}
<link rel="stylesheet" href="../../statics/css/usercenter.css">
<body class="user_center_body_all">
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
    <span class="register_header_title">个人中心</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</header>
<section>
    <div class="header_center">
        <img src="../../statics/images/userimg.png">
        <div class="header_photo">
            <div class="header_photo_user">
                <!--<img src="../../statics/images/user.jpg">-->
                <img {{if $user_info.face}}src="{{$base_url}}upload/face/{{$user_info.face}}"{{else}}src="{{$base_url}}statics/images/user.jpg"{{/if}}">
            </div>
            <div class="user_center_user_id">
                {{$user_info.rel_name}}<span>(ID:{{$user_info.id}})</span>
                    {{if $user_info.id == 1341}}
                    <div class="header_photo_user_name">市级代理</div>
                    {{else}}
                    {{if $user_info.is_dl == 1}}
                    <div class="header_photo_user_name">普通用户</div>
                    {{else if $user_info.is_dl == 2}}
                    <div class="header_photo_user_name">服务商</div>
                    {{else if $user_info.is_dl == 3}}
                    <div class="header_photo_user_name">联合服务商</div>
                    {{else if $user_info.is_dl == 4}}
                    <div class="header_photo_user_name">市级代理</div>
                    {{else}}
                    <div class="header_photo_user_name">省级代理</div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    <table class="shop_index_section_table" border="0">
        <tr>
            <td class="td_border">
                <span>{{$user_info.integral/100}}</span><br>
                <span>葵花籽</span>
            </td>
            <td class="td_border">
                <span>{{$sum_count|default:0}}</span><br>
                <span>向日葵</span>
            </td>
            <td class="td_border">
                <a href="{{site_url url='frontend/register_shop'}}">
                    {{if $user_info.shop_id < 1}}
                    <span><img src="../../statics/images/personalcenter_icons_merchant.png"></span><br>
                    <span>成为商家</span>
                    {{/if}}
                </a>
            </td>
        </tr>
    </table>
    <div class="shop_index_section_content_all">
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">账户管理</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">资金管理</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的订单</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的向日葵</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的收益</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的团队</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
    </div>
    <a href="{{site_url url='frontend/logout'}}"><button class="shop_index_section_btn">退出登录</button></a>
</section>
{{include file="../public/footer.html"}}