{{include file="./header.html"}}

<style>
    .list_all{
        color: #696969;font-size: 18px;z-index: 11;
    }
    .list_nav{
        width: 100%;border:1px solid #ccc;background-color: #ffffff;height: 50px;
    }
    .list_all_information{
        border-bottom: 1px solid #eeeeee;margin-top: 10px;padding-bottom: 10px;
    }
</style>

<div class="list_all">
    <div class="am-panel-group" id="accordion">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd" style="width: 100%;">
                <div class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}" style="width: 100%;height: 50px;">
                   <span style="margin-left: 20px;line-height: 50px;" class="am-front-icon am-icon-user">&nbsp;id:123</span>
                    <span style="float: right; margin-right: 20px;line-height: 50px;">2000元</span>
                    <span style=" float: right; margin-right: 10px;line-height: 50px;" class="am-front-icon am-icon-rmb"></span>
                </div>
            </div>
            <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in" style="">
                <div class="am-panel-bd">
                    <p class="list_all_information" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="am-icon-mobile-phone"></span>&nbsp;手机：15850293624</p>
                    <p class="list_all_information" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="am-icon-user"></span>&nbsp;姓名：小周</p>
                    <p class="list_all_information" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="am-icon-clock-o"></span>&nbsp;时间：2016.11.04</p>

                </div>
                <div class="" style="width: 100%;height: 50px;margin-top: -10px;">
                    <button type="button" class="am-btn am-btn-secondary" style="height: 50px;float: right">删除</button>
                    <button type="button" class="am-btn am-btn-secondary" style="height: 50px;float: right;margin-right: 1px;">修改</button>
                </div>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-hd" style="width: 100%;">
                <div class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}" style="width: 100%;height: 50px;">
                    <span style="margin-left: 20px;line-height: 50px;" class="am-front-icon am-icon-user">&nbsp;id:123</span>
                    <span style="float: right; margin-right: 20px;line-height: 50px;">2000元</span>
                    <span style=" float: right; margin-right: 10px;line-height: 50px;" class="am-front-icon am-icon-rmb"></span>
                </div>
            </div>
            <div id="do-not-say-2" class="am-panel-collapse am-collapse am-in" style="">
                <div class="am-panel-bd">
                    <p class="list_all_information" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="am-icon-mobile-phone"></span>&nbsp;手机：15850293624</p>
                    <p class="list_all_information" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="am-icon-user"></span>&nbsp;姓名：小周</p>
                    <p class="list_all_information" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="am-icon-clock-o"></span>&nbsp;时间：2016.11.04</p>

                </div>
                <div class="" style="width: 100%;height: 50px;margin-top: -10px;">
                    <button type="button" class="am-btn am-btn-secondary" style="height: 50px;float: right">删除</button>
                    <button type="button" class="am-btn am-btn-secondary" style="height: 50px;float: right;margin-right: 1px;">修改</button>
                </div>
            </div>
        </div>



    </div>

</div>

<div style="z-index: 55;">
    <a href="##" class="am-icon-btn am-icon-plus" style="position: fixed;bottom: 150px;right: 20px;"></a>
    <a href="##" class="am-icon-btn am-icon-search" data-am-modal="{target: '#my-actions-search'}" style="position: fixed;bottom: 80px;right: 20px;"></a>
</div>


<div class="am-modal-actions" id="my-actions-search">
    <div class="am-modal-actions-group">
        <ul class="am-list">
            <form class="am-form-inline" role="form">
                <div class="am-form-group" style="width: 50%; float: left;">
                    <input type="datetime" class="am-form-field" placeholder="开始时间">
                </div>
                <div class="am-form-group" style="width: 50%;float: right;">
                    <input type="datetime" class="am-form-field" placeholder="结束时间">
                </div>
                <input type="text" id="doc-ipt-3-1" class="am-form-field" placeholder="客户（姓名,电话）模糊搜索" style="height: 50px;">
            </form>

        </ul>
    </div>
    <div class="am-modal-actions-group" style="margin-top: 30px;">
        <button class="am-btn am-btn-warning am-btn-block" data-am-modal-close>搜索</button>
        <button class="am-btn am-btn-secondary am-btn-block" data-am-modal-close>取消</button>
    </div>
</div>


