{{include file="./header.html"}}
<style>

    a{
        color:#c7c7c7;
        background: #fff;
    }

    .am-tabs-d2 .am-tabs-nav > .am-active::after{
        border-style:none;
    }
    .am-tabs-d2 .am-tabs-nav > .am-active a{
        color: #f15a0c;
    }
    .am-tabs-d2 .am-tabs-nav > .am-active {
        border-bottom: 4px solid #f15a0c;

    }
    .am-tabs-d2 .am-tabs-nav li{
        height: 42px;
    }
    .am-tabs-d2 .am-tabs-nav a{
        color: #7f8c8d;
    }

    .am-table > tbody > tr > td,
    .am-table > tbody > tr > th,
    .am-table > tfoot > tr > td,
    .am-table > tfoot > tr > th,
    .am-table > thead > tr > td,
    .am-table > thead > tr > th {
        font-size: 14px;
        text-align: center;
        color:#7f8c8d;
        border-top: 1px solid #fafafa;
        line-height: 1.6;
        padding: 1.1rem;
        vertical-align: top;
    }
    .am-tabs-bd{
        border: none;
    }
    .am-table > thead > tr > th {
        border-bottom:none;
    }
    .am-tabs-bd .am-tab-panel{
        padding: 0;
    }
    .am-tabs-d2 .am-tabs-nav li{
        height:40px;
    }
   .data-am-widget{
       display: none;
   }

    .table1{
        width: 100%; height: 45px; border-collapse:collapse;color: #bfbfbf; cursor:pointer;
    }
    .table1 tr{
        font-size: 14px;text-align: center;color: #999999;
    }
    .td1{
        border-bottom:1px solid #e5e5e5;
    }
    .td1 a{
        color: #777777;
    }
</style>


<body style="background: #ffffff; z-index: 1;">
<input type="hidden" name="tab_type" id="tab_type" value="{{$type}}">

<table class="table1" border="0">
    <tr>
        <td class="td1" style="color: #7c7c7c" onclick="shop_record()" id="shop_sunflower">
        <a style="color: #7c7c7c" href="{{site_url url='user/shop_heart/1'}}">
            商家向日葵
            </a>
        </td>
        <td class="td1" style="color: #3ab5f3" onclick="user_record()" id="user_sunflower">
        <a style="color: #3ab5f3" href="{{site_url url='user/user_heart/1'}}">
        用户向日葵
        </a></td>
    </tr>
</table>


<!--普通用户-->
<div id="user_record" data-am-widget="tabs"     class="am-tabs-d2" style="width: 100%; margin: 0;margin-top: -10px">
    <div class="am-tabs-bd" style="margin-top:5px;">
        <div class="am-tab-panel am-active">
            <img src="{{$base_url}}statics/images/userimg.png"  width="100%" height="170px">
            <ul class="am-tabs-nav am-cf" style="background: red;width: 100%;">
                <li class="{{if $type==1}}am-active{{/if}}"><a href="{{site_url url='user/user_heart/1'}}">6%激励</a></li>
                <li class="{{if $type==2}}am-active{{/if}}"><a href="{{site_url url='user/user_heart/2'}}">12%激励</a></li>
                <li class="{{if $type==3}}am-active{{/if}}"><a href="{{site_url url='user/user_heart/3'}}">24%激励</a></li>
            </ul>
            <div style="width: 100%;position: absolute;top:50px;margin: 0;text-align: center;font-family: '黑体';">
                <span style="color: #ffffff;font-size: 20px;font-weight: bold;">
                    {{if $type==1}}
                    6系列向日葵总计
                    {{elseif $type==2}}
                    12系列向日葵总计
                    {{elseif $type==3}}
                    24系列向日葵总计
                    {{/if}}
                </span><br>
                <span style="font-size: 22px;color: #997050;">0</span>
            </div>
            <table class="am-table">
                <thead>
                <tr>
                    <th>向日葵</th>
                    <th>已激励</th>
                    <th>日期</th>
                </tr>
                </thead>
                <tbody id="accordion">

                </tbody>
            </table>
            <p id="is_end" style="text-align: center;font-size: 12px;">已到最后一页</p>
        </div>
    </div><br>
</div>
<!--普通用户-->


<script>

//    window.onload=function(){
//    shop_record();
//}
    function shop_record() {
        $("#shop_sunflower").css("color","#3ab5f3");
        $("#user_sunflower").css("color","#7c7c7c");

    }
    function user_record() {
        $("#shop_sunflower").css("color","#7c7c7c");
        $("#user_sunflower").css("color","#3ab5f3");


    }

</script>

<script>
    window.is_end = false
    window.page = 1
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
            if(window.is_end){
                $("#is_end").show()
            }else{
                $("#my-actions-search").show()

                $('#my-modal-loading').modal()

                get_data()
            }
        }
    });

    function get_data(){
        tab_type = $('#tab_type').val()
        $.post("{{site_url url='user/user_heart_loaddata'}}/"+window.page,{tab_type:tab_type},function(data){
            if(data){
                $("#accordion").append(data)
                window.page += 1
                $('#my-modal-loading').modal('close');
            }else{
                $('#my-modal-loading').modal('close');
                $("#is_end").show()
                window.is_end = true
            }

        });
    }
    get_data()
    $(function() {

    });
</script>
{{include file="../public/footer.html"}}
</body>
