{{include file="../public/header.html"}}
<link rel="stylesheet" href="../../statics/css/usercenter.css">
<body class="user_center_body_all">
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
    <span class="register_header_title">个人中心</span>
    <a href="#"><span class="am-icon-chevron-left register_header_back"></span></a>
</header>
<section>
    <div class="header_center">
        <img src="../../statics/images/userimg.png">
        <div class="header_photo">
            <div class="header_photo_user">
                <img src="../../statics/images/user.jpg">
            </div>
            <div class="user_center_user_id">
                周小婷<span>(ID:4533)</span>
                <div class="header_photo_user_name">普通用户</div>
            </div>
        </div>
    </div>
    <table class="shop_index_section_table" border="0">
        <tr>
            <td class="td_border">
                <span>126</span><br>
                <span>葵花籽</span>
            </td>
            <td class="td_border">
                <span>126</span><br>
                <span>向日葵</span>
            </td>
            <td class="td_border">
                <span><img src="../../statics/images/personalcenter_icons_merchant.png"></span><br>
                <span>成为商家</span>
            </td>
        </tr>
    </table>
    <div class="shop_index_section_content_all">
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">账户管理</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">资金管理</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的订单</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的向日葵</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的收益</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a href="#">
            <div class="shop_index_section_content_list">
                <span class="user_center_list_name">我的团队</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
    </div>
    <button class="shop_index_section_btn">退出登录</button>
</section>
{{include file="../public/footer.html"}}