{{include file="./header.html"}}
<body>
<link rel="stylesheet" href="/static/default/wap/css/housekeeping.css"/>  
	<link href="/static/default/wap/other/jquery-ui.css" rel="stylesheet" />
<style>

.layui-layer-molv .layui-layer-title {background-color: #F8F8F8;border-bottom: 1px solid #eee;color: #333;}

.table1{
	width: 100%; height: 45px; border-collapse:collapse;color: #bfbfbf; cursor:pointer;
}
.table1 tr{
	font-size: 14px;text-align: center;color: #999999;
}
.td1{
	border-bottom:1px solid #e5e5e5;
}
.td1 a{
	color: #777777;
}
.table{
	width: 100%; height: 50px; border-collapse:collapse;color: #bfbfbf;margin-left: 5px;
}
.table tr{
	font-size: 14px; height: 50px; text-align: center;color: #999999;
}
.td{
	border-bottom:1px solid #e5e5e5;
}
</style>

<body style="background: #ffffff;overflow-x: hidden;">

<div style="overflow-x: hidden;padding-bottom: 60px;">
<table class="table1" border="0">
	<tr>
		<td class="td1"><a href="{{site_url url='user/money_log_list'}}" onclick="money_record()" id="money_record">资金日志</a></td>
		<td class="td1"><a href="{{site_url url='user/withdraw_list'}}" onclick="cash_record()" id="cash_record">提现日志</a></td>
		<td class="td1"><a href="{{site_url url='user/withdraw'}}" onclick="application_record()" id="application_record">申请提现</a></td>
	</tr>
</table>
<form class="am-form" data-am-validator action="" method="post">

	<table class="table" border="0">
		<thead>
		<tr style="color: #343434;font-weight: bold;">
			<td class="td">ID</td>
			<td class="td">金额</td>
			<td class="td">日期</td>
			<td class="td">状态</td>
		</tr>
		</thead>
		<tbody id="accordion">

		</tbody>
	</table>
	<p id="is_end" style="text-align: center;font-size: 12px;margin-top: 10px;">已到最后一页</p>

</form>
	</div>
</body>
{{include file="../public/footer.html"}}

<script>
	window.is_end = false
	window.page = 1
	$(window).scroll(function () {
		var scrollTop = $(this).scrollTop();
		var scrollHeight = $(document).height();
		var windowHeight = $(this).height();
		if (scrollTop + windowHeight == scrollHeight) {
			if(window.is_end){
				$("#is_end").show()
			}else{
				$("#my-actions-search").show()
				$('#my-modal-loading').modal()
				get_data()
			}
		}
	});

	function get_data(){
		s_date = $('#s_date').val()
		e_date = $('#e_date').val()
		$.post("{{site_url url='user/list_withdraw_loaddata'}}/"+window.page,{s_date:s_date,e_date:e_date},function(data){
			if(data){
				$("#accordion").append(data)
				$('#accordion').find('.flag-'+window.page).add('#doc-confirm-toggle').
				on('click', function() {
					$('#my-confirm').modal({
						relatedTarget: this,
						onConfirm: function(options) {
							id = $(this.relatedTarget).attr('target')
							$.get("{{site_url url='shop/del_order'}}/"+id,function(data){
								if(data == 1){
									location.href = "{{site_url url='shop/list_orders'}}";
								}else{
									console.log(data)
								}
							})
						},
						onCancel: function() {

						}
					});
				});
				window.page += 1
				$('#my-modal-loading').modal('close');
			}else{
				$('#my-modal-loading').modal('close');
				$("#is_end").show()
				window.is_end = true
			}

		});
	}
	get_data()
	$(function() {

	});

	window.onload=function(){
		cash_record();
	}

	function money_record() {
		$("#money_record").css("color","#3ab5f3");
		$("#cash_record").css("color","#7c7c7c");
		$("#application_record").css("color","#7c7c7c");
	}
	function cash_record() {
		$("#money_record").css("color","#7c7c7c");
		$("#cash_record").css("color","#3ab5f3");
		$("#application_record").css("color","#7c7c7c");
	}
	function application_record() {
		$("#money_record").css("color","#7c7c7c");
		$("#cash_record").css("color","#7c7c7c");
		$("#application_record").css("color","#3ab5f3");
	}

</script>