<!doctype html>
<html class="">
<title>
    页面轮播
</title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="renderer" content="webkit">
    <!--<meta http-equiv="Cache-Control" content="no-siteapp"/>-->
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="assets/js/amazeui.min.js"></script>

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="stylesheet" href="css/text3.css">
    <link rel="stylesheet" href="css/datacontent1.css">
    <link rel="stylesheet" href="css/datacontent2.css">
    <link rel="stylesheet" href="css/datacontent3.css">
    <link rel="stylesheet" href="css/quanlianmeng-sjzx.css">
    <link rel="stylesheet" href="css/quanlm-zrxf.css">
    <script src="assets/js/jquery.min.js"></script>
</head>
<body class="beijing">

<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}' >
    <ul class="am-slides">
        <li>
            <div class="main">
                <div class="top">
                    <p class="top-one">love donation data</p>
                    <p class="top-two">爱心捐款数据</p>
                </div>
                <div class="center">

                    <div class="center-left">
                        <!--<img src="img/shujumain1.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="center-right">-->
                        <div class="wenzi3">待捐款</div>
                        <div class="wenzi4">5666</div>
                        <div class="wenzi5">上个捐款日捐款</div>
                        <div class="wenzi6">2016-11-25</div>
                        <div class="wenzi7">12345</div>
                        <div class="wenzi8">累计捐款</div>
                        <div class="wenzi9">123456</div>
                    </div>
                </div>
            </div>

        </li>
        <li>

            <div class="main-data2">
                <div class="top-data2">
                    <p class="top-one-data2">联盟客户向日葵日值</p>
                    <p class="top-two-data2">2016-12-11</p>
                </div>
                <div class="center-data2">

                    <div class="center-left-data2">
                        <p>
                            <span class="wenzi3-data2">333</span>&nbsp;&nbsp;
                            <span class="wenzi4-data2">3333</span>
                        </p>
                        <p>
                            <span class="wenzi5-data2">666</span>&nbsp;&nbsp;
                            <span class="wenzi6-data2">6666</span>
                        </p>
                        <p>
                            <span class="wenzi7-data2">999</span>&nbsp;&nbsp;
                            <span class="wenzi8-data2">9999</span>
                        </p>
                    </div>
                </div>
            </div>

        </li>
        <li>
            <div class="main-data2">
                <div class="top-data2">
                    <p class="top-one-data2">联盟商家向日葵日值</p>
                    <p class="top-two-data2">2016-12-11</p>
                </div>
                <div class="center-data2">

                    <div class="center-left-data2">
                        <p>
                            <span class="wenzi3-data2">333</span>&nbsp;&nbsp;
                            <span class="wenzi4-data2">3333</span>
                        </p>
                        <p>
                            <span class="wenzi5-data2">666</span>&nbsp;&nbsp;
                            <span class="wenzi6-data2">6666</span>
                        </p>
                        <p>
                            <span class="wenzi7-data2">999</span>&nbsp;&nbsp;
                            <span class="wenzi8-data2">9999</span>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="main-data3">
                <table>
                    <thead>
                    <tr>
                        <td colspan="2">全国城市向日葵光荣榜</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td> 12323435</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="main-s">
                <div class="top-s">
                    <p class="top-one-s">Whole &nbsp;Sunflower</p>
                    <p class="top-two-s">全联盟向日葵</p>
                </div>
                <div class="center-s">
                    <div class="center-left-s">
                        <!--<img src="img/shujumain1.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="center-right">-->
                        <div class="wenzi3-s">联盟消费总额</div>
                        <div class="wenzi4-s">5666元</div>
                        <div class="wenzi5-s">联盟消费特使人数</div>
                        <div class="wenzi6-s">234323个</div>
                        <!--<div class="wenzi7">12345</div>-->
                        <div class="wenzi8-s">联盟商家</div>
                        <div class="wenzi9-s">123个</div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="main-data">
                <div class="top-data">
                    <p class="top-one-data">Yesterday Data</p>
                    <p class="top-two-data">全联盟昨日消费</p>
                </div>
                <div class="center-data">

                    <div class="center-left-data">
                        <!--<img src="img/shujumain1.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="center-right">-->
                        <div class="wenzi3-data">6系列</div>
                        <div class="wenzi4-data">5666元</div>
                        <div class="wenzi5-data">12系列</div>
                        <div class="wenzi6-data">234323个</div>
                        <!--<div class="wenzi7">12345</div>-->
                        <div class="wenzi8-data">24系列</div>
                        <div class="wenzi9-data">123个</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>