<!doctype html>
<html class="">
<title>
    我的订单
</title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="renderer" content="webkit">
    <!--<meta http-equiv="Cache-Control" content="no-siteapp"/>-->
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="assets/js/amazeui.min.js"></script>

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="stylesheet" href="css/my_order.css">
    <script src="assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="jiange"></div>
    <div class="main">
        <div class="am-g">
            <div class="am-u-sm-8"><img src="img/mall_icon_shop@3x.png" alt="">&nbsp;沃乐玩具乐器专营店</div>
            <div class="am-u-sm-4">等待付款</div>
        </div>
        <div class="row-two">
            <table class="main_content" border="0">
                <tr>
                    <td class="main_content_img">
                        <img src="img/beijing.jpg" />
                    </td>
                    <td class="main_content_td" >
                        <div>
                            <div class="main_content_one" >沃诺 圣诞装饰品圣诞花环挂件</div>
                            <div class="main_content_two">大红色 40cm</div>
                            <div class="main_content_three">共3件商品 需付款：￥117.00元</div>
                            <div class="clear"></div>
                            <div class="main_content_four"><a href="*">去支付</a></div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="jiange"></div>
    <div class="main">
        <div class="am-g" >
            <div class="am-u-sm-8"><img src="img/mall_icon_shop@3x.png" alt="">&nbsp;沃乐玩具乐器专营店</div>
            <div class="am-u-sm-4">已完成付款</div>
        </div>
        <div class="row-two">
            <table class="main_content" border="0">
                <tr>
                    <td class="main_content_img">
                        <img src="img/beijing.jpg" />
                    </td>
                    <td class="main_content_td" >
                        <div>
                            <div class="main_content_one" >沃诺 圣诞装饰品圣诞花环挂件</div>
                            <div class="main_content_two">大红色 40cm</div>
                            <div class="main_content_three">共3件商品 需付款：￥117.00元</div>
                            <div class="clear"></div>
                            <div class="main_content_four"><a href="*">再次购买</a></div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="jiange"></div>
</body>
</html>