<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>shop_index</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed"
          href="../../statics/amaze/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet"
          href="../../statics/amaze/css/amazeui.min.css" />
    <link rel="stylesheet" href="../../statics/amaze/css/admin.css">
    <link rel="stylesheet" href="../../statics/css/ordercart.css">
    <!--[if lt IE 9]>
    <script src="../../statics/js/jquery.min.js"></script>
    <script src="../../assets/js/polyfill/rem.min.js"></script>
    <script src="../../assets/js/polyfill/respond.min.js"></script>
    <script src="../../assets/js/amazeui.legacy.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../statics/amaze/js/jquery.min.js"></script>
    <script src="../../statics/amaze/js/amazeui.js"></script>
    <!--<![endif]-->
    <script src="../../statics/amaze/js/app.js"></script>
    <script src="../../statics/js/common.js"></script>
</head>
<body>
<div class="order_cart_div_all">
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
        <span class="register_header_title">购物车</span>
        <a href="{{site_url url='frontend'}}"><span class="am-icon-chevron-left register_header_back"></span></a>
    </header>
    <div class="order_cart_div_num">
        <div class="order_cart_div_num_1">
            <img src="../../statics/images/shop.jpg">
        </div>
        <div class="order_cart_div_num_2">
            <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
            <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1">￥6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
            <div class="order_cart_div_num_2_count">
                <span class="order_cart_div_num_2_count_count_detail"><img src="../../statics/images/reduce.png"></span>
                <span class="order_cart_div_num_2_count_count_detail">
                    <span>123</span>
                </span>
                <span class="order_cart_div_num_2_count_count_detail"><img src="../../statics/images/shoppingcart_plus_button@2x.png"></span>
                <span class="order_cart_div_num_2_count_count_detail_del"><img src="../../statics/images/shoppingcart_delete_button@2x.png"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>