<!doctype html>
<html class="">
<title>
    收货地址管理
</title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="renderer" content="webkit">
    <!--<meta http-equiv="Cache-Control" content="no-siteapp"/>-->
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="assets/js/amazeui.min.js"></script>

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="stylesheet" href="css/receipt-address.css">
    <script src="assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="row-one">
        <span class="row-one-name">小明</span>
        <span class="row-one-phone">18435119332</span>
        <p class="row-one-address"><i class="am-icon-map-marker"></i> &nbsp;江苏省 苏州市 昆山市 巴城镇学院路美居客4楼405室</p>
    </div>
    <div class="row-two">
        <div class="am-g">
            <div class="am-u-sm-5">
                <img src="img/mall_icon_default@3x.png" alt="">
                <span id="row-two-choice">默认地址</span>
            </div>
            <div class="am-u-sm-7" style="text-align: center">
                <img src="img/mall_icon_edit@3x.png" alt="">
                <span>编辑</span>
                <img src="img/mall_icon_delete@3x.png" alt="">
                <span>删除</span>
            </div>
        </div>
    </div>
    <div class="jiange"></div>
    <div class="row-one">
        <span class="row-one-name">小明</span>
        <span class="row-one-phone">18435119332</span>
        <p class="row-one-address"><i class="am-icon-map-marker"></i> &nbsp;江苏省 苏州市 昆山市 巴城镇学院路美居客4楼405室</p>
    </div>
    <div class="row-two">
        <div class="am-g">
            <div class="am-u-sm-5">
                <img src="img/mall_icon_choice@3x.png" alt="">
                <span>设为默认</span>
            </div>

            <div class="am-u-sm-7" style="text-align: center">
                <img src="img/mall_icon_edit@3x.png" alt="">
                <span>编辑</span>
                <img src="img/mall_icon_delete@3x.png" alt="">
                <span>删除</span>
            </div>
        </div>
    </div>
    <div class="jiange"></div>
    <div class="new-address">
        <div class="am-g" >
            <div class="am-u-sm-1" style="height: 10px"></div>
            <div class="am-u-sm-10" style="padding: 0;">
                <button style="border-radius: 10px;" type="submit"
                        class="am-btn am-btn-block new_address_btn">新建地址</button>
            </div>
            <div class="am-u-sm-1"></div>
        </div>

    </div>
</body>
</html>