<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>shop_index</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed"
          href="../../statics/amaze/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet"
          href="../../statics/amaze/css/amazeui.min.css" />
    <link rel="stylesheet" href="../../statics/amaze/css/admin.css">
    <link rel="stylesheet" href="../../statics/css/shopdetail.css">

    <!--[if lt IE 9]>
    <script src="../../statics/js/jquery.min.js"></script>
    <script src="../../assets/js/polyfill/rem.min.js"></script>
    <script src="../../assets/js/polyfill/respond.min.js"></script>
    <script src="../../assets/js/amazeui.legacy.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../statics/amaze/js/jquery.min.js"></script>
    <script src="../../statics/amaze/js/amazeui.js"></script>
    <!--<![endif]-->
    <script src="../../statics/amaze/js/app.js"></script>
    <script src="../../statics/js/common.js"></script>
</head>
<body>
<div class="body_all">
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
        <span class="register_header_title">商家详情</span>
        <a href="#"><span class="am-icon-chevron-left register_header_back"></span></a>
    </header>
    <section>
        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
            <ul class="am-slides lunbo_img">
                <li><img src="../../statics/images/banner.jpg"/></li>
                <li><img src="../../statics/images/banner1.jpg"/></li>
                <li><img src="../../statics/images/banner2.jpg" /></li>
            </ul>
        </div>
        <div class="product_detail_1">
            <h7 class="product_detail_1_title">红时尚中餐馆（虹口店）</h7>
            <div class="am-list-item-text product_detail_4">
                <p>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                </p>
            </div>
            <img class="shop_detail_img" src="../../statics/images/gohere.png">
        </div>
        <div class="product_detail_2">
            <div class="product_detail_2_confirm">江苏省苏州市昆山市湖滨路288号江苏省苏州市昆山市湖滨路288号江苏省苏州市昆山市湖滨路288号江苏省苏州市昆山市湖滨路288号</div>
            <div class="product_detail_2_confirm">15850293624</div>
        </div>
        <div class="product_detail_5"></div>
        <div class="product_detail_6">
            <span>购买须知</span>
        </div>
        <div class="product_detail_6">
            <span>有效期2016.6.24-2017.7.34</span>
        </div>
        <div class="product_detail_7"></div>
        <div class="product_detail_6">
            <span>商品介绍</span>
        </div>
        <div class="product_detail_6">
            <span class="prduct_detail_6_intro">洪餐馆需要提前一个小时预约洪餐馆需要提前一个小时预约洪餐馆需要提前一个小时预约洪餐馆需要提前一个小时预约</span>
        </div>
    </section>
    <footer>
        <div class="footer">
            <table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td id="home">
                        <img src="../../statics/images/home_icon_click.png"><br>
                        <span class="footer_span_2">主页</span>
                    </td>
                    <td id="myorder">
                        <img src="../../statics/images/orders_icon_click.png"><br>
                        <span class="footer_span_2">我的订单</span>
                    </td>
                    <td id="daybase">
                        <img src="../../statics/images/mall_icon_click.png"><br>
                        <span class="footer_span_2">商城</span>
                    </td>

                    <td id="cheaporder">
                        <img src="../../statics/images/data_icon_click.png"><br>
                        <span class="footer_span_2">每日数据</span>
                    </td>

                    <td id="message">
                        <img src="../../statics/images/personalcenter_icon_click.png"><br>
                        <span class="footer_span_2">个人中心</span>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</div>
</body>
</html>