<footer>
    <div class="footer">
        <table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td id="home">
                    <img src="../../statics/images/home_icon_click.png"><br>
                    <span class="footer_span_2">主页</span>
                </td>
                <td id="myorder">
                    <img src="../../statics/images/orders_icon_click.png"><br>
                    <span class="footer_span_2">我的订单</span>
                </td>
                <td id="daybase">
                    <img src="../../statics/images/mall_icon_click.png"><br>
                    <span class="footer_span_2">商城</span>
                </td>

                <td id="cheaporder">
                    <img src="../../statics/images/data_icon_click.png"><br>
                    <span class="footer_span_2">每日数据</span>
                </td>

                <td id="message">
                    <img src="../../statics/images/personalcenter_icon_click.png"><br>
                    <span class="footer_span_2">个人中心</span>
                </td>
            </tr>
        </table>
    </div>
</footer>