
<link rel="stylesheet" href="{{$base_url}}statics/css/shopcss.css">

<div class="footer">
    <table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td id="home" style="color: #3ab5f3;" onclick="home()">
                <span class="am-icon-home footer_span_1"></span><br>
                <span class="footer_span_2" >主页</span>
            </td>
            <td id="myorder" onclick="myorder()">
                <span class="am-icon-cart-plus footer_span_1"></span><br>
                <span class="footer_span_2" >我的订单</span>
            </td>
            <td id="cheaporder" onclick="cheaporder()">
                <span class="am-icon-pagelines footer_span_1"></span><br>
                <span class="footer_span_2" >我的向日葵</span>
            </td>
            <td id="message" onclick="message()">
                <span class="am-icon-user footer_span_1"></span><br>
                <span class="footer_span_2">个人中心</span>
            </td>
        </tr>
    </table>
</div>
<script>
    function home() {
        $("#home").css("color","#3ab5f3");
        $("#myorder").css("color","#7c7c7c");
        $("#cheaporder").css("color","#7c7c7c");
        $("#message").css("color","#7c7c7c");
    }
    function myorder() {
        $("#home").css("color","#7c7c7c");
        $("#myorder").css("color","#3ab5f3");
        $("#cheaporder").css("color","#7c7c7c");
        $("#message").css("color","#7c7c7c");
    }
    function cheaporder() {
        $("#home").css("color","#7c7c7c");
        $("#myorder").css("color","#7c7c7c");
        $("#cheaporder").css("color","#3ab5f3");
        $("#message").css("color","#7c7c7c");
    }
    function message() {
        $("#home").css("color","#7c7c7c");
        $("#myorder").css("color","#7c7c7c");
        $("#cheaporder").css("color","#7c7c7c");
        $("#message").css("color","#3ab5f3");
    }

</script>