*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.main{
    /*background: url("../img/shujubeijing.png") no-repeat;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top{
    margin:50px auto 30px;
    background: url("../img/shujutou1.png ") no-repeat ;
    background-size: 100% 100%;
    /*margin-top: 50px;*/
    width:  80%;
    height: 80px;
}
.top-one{
    margin-left: 14%;
    padding-top: 16px;
    font-size: 1.4rem;
    color: #fff;
}
p{
    margin: 0;
}
.top-two{
    margin-left:15%;
    font-size: 1.8rem;
    color: #fff;
}
.center{
    padding-top: 20px;
}
.center-left {
    width: 100%;
    /*height: 300px;*/
    float: left;
    background: url("../img/shujumain1.png") no-repeat;
    background-size: 120px;
    margin-left: 24%;
    color: #01a2f2;
    font-size: 1.7rem;
    /*padding-bottom: 300px;*/
}
/*.center-right{*/
    /*color: #01a2f2;*/
    /*font-size: 1.6rem;*/
    /*overflow: hidden;*/
/*}*/
.wenzi3{
    margin-top:-25px;
    margin-left: 100px;
}
.wenzi4{
    margin-left: 100px;
}
.wenzi5{
    margin-top:25px;
    margin-left: 120px;
}
.wenzi6{
    margin-left: 130px;
}
.wenzi7{
    margin-left: 130px;
}
.wenzi8{
    margin-top:25px;
    margin-left: 110px;
}
.wenzi9{
    margin-left: 110px;
}