*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.main-data2{
    /*background: url("../img/shujubeijing.png") no-repeat;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top-data2{
    margin:50px auto 30px;
    background: url("../img/shujutu2.png ") no-repeat;
    background-size: 100% 100%;
    /*margin-top: 50px;*/
    width:  80%;
    height: 100px;
}
.top-one-data2{
    margin-left: 14%;
    padding-top: 16px;
    font-size: 1.3rem;
    color: #fff;
}
p{
    margin: 0;
}
.top-two-data2{
    margin-left: 20%;
    margin-top: 12px;
    font-size: 1.6rem;
    color: #fff;
}
.center-data2{
    padding-top: 20px;
}
.center-left-data2 {
    width: 100%;
    /*height: 300px;*/
    float: left;
    background: url("../img/shujumain2.png") no-repeat;
    background-size: 240px;
    margin-left: 20%;
    color: #01a2f2;
    font-size: 1.7rem;
    /*padding-bottom: 300px;*/
}
.wenzi3-data2{
    display: inline-block;
    margin-left: 145px;
    padding-top: 30px;
}
.wenzi5-data2{
    display: inline-block;
    margin-left: 167px;
    padding-top: 76px;
}
.wenzi7-data2{
    display: inline-block;
    margin-left: 145px;
    padding-top: 70px;
}