*{
    margin: 0;
    padding: 0;
}
.am-control-nav ul{
    display: none;
}
.beijing{
    background-image: url(../../images/shujubeijing.png);

}
.am-slider-a1 .am-control-nav{
 display: none;
}
.main{
    /*background: url("../img/shujubeijing.png") no-repeat;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top{
    margin:50px auto 30px;
    background: url("../img/shujutou1.png ") no-repeat ;
    background-size: 100% 100%;
    /*margin-top: 50px;*/
    width:  80%;
    height: 80px;
}
.top-one{
    margin-left: 14%;
    padding-top: 16px;
    font-size: 1.4rem;
    color: #fff;
}
p{
    margin: 0;
}
.top-two{
    margin-left:15%;
    font-size: 1.8rem;
    color: #fff;
}
.center{
    padding-top: 20px;
}
.center-left {
    width: 100%;
    /*height: 300px;*/
    float: left;
    background: url("../img/shujumain1.png") no-repeat;
    background-size: 120px;
    margin-left: 24%;
    color: #01a2f2;
    font-size: 1.7rem;
    /*padding-bottom: 300px;*/
}
/*.center-right{*/
/*color: #01a2f2;*/
/*font-size: 1.6rem;*/
/*overflow: hidden;*/
/*}*/
.wenzi3{
    margin-top:-25px;
    margin-left: 100px;
}
.wenzi4{
    margin-left: 100px;
}
.wenzi5{
    margin-top:25px;
    margin-left: 120px;
}
.wenzi6{
    margin-left: 130px;
}
.wenzi7{
    margin-left: 130px;
}
.wenzi8{
    margin-top:25px;
    margin-left: 110px;
}
.wenzi9{
    margin-left: 110px;
}
.main-data2{
    /*background: url("../img/shujubeijing.png") no-repeat;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top-data2{
    margin:50px auto 30px;
    background: url("../img/shujutu2.png ") no-repeat;
    background-size: 100% 100%;
    /*margin-top: 50px;*/
    width:  80%;
    height: 100px;
}
.top-one-data2{
    margin-left: 14%;
    padding-top: 16px;
    font-size: 1.3rem;
    color: #fff;
}
p{
    margin: 0;
}
.top-two-data2{
    margin-left: 20%;
    margin-top: 12px;
    font-size: 1.6rem;
    color: #fff;
}
.center-data2{
    padding-top: 20px;
}
.center-left-data2 {
    width: 100%;
    /*height: 300px;*/
    float: left;
    background: url(../../images/shujumain2.png) no-repeat;
    background-size: 240px;
    margin-left: 20%;
    color: #01a2f2;
    font-size: 1.7rem;
    /*padding-bottom: 300px;*/
}
.wenzi3-data2{
    display: inline-block;
    margin-left: 145px;
    padding-top: 30px;
}
.wenzi5-data2{
    display: inline-block;
    margin-left: 167px;
    padding-top: 76px;
}
.wenzi7-data2{
    display: inline-block;
    margin-left: 145px;
    padding-top: 70px;
}
.main-data3{
    /*background: url("../img/shujubeijing.png") no-repeat;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*padding-bottom: 350px;*/

}
table{
    margin:50px auto;
    width: 280px;
    text-align: center;
    background: rgba(255,255,255,0.3);
    line-height: 30px;
}
table thead{
    line-height: 40px;
    padding-left: 20px;
    font-size: 2.0rem;
}