@CHARSET "UTF-8";

.list_all{
    color: #696969;font-size: 18px;z-index: 11;
}
.list_all_btn{
    width: 100%;height: 50px;
}
.list_all_user_img{
    margin-left: 20px;line-height: 50px;color: #3ab5f3;
}
.list_all_user_id{
    line-height: 50px;
}
.list_all_sort_img{
  color: #569cf1;
}
.list_all_money{
    float: right; margin-right: 25px;line-height: 50px;
}
.list_all_rmb{
    float: right; margin-right: 15px;line-height: 50px;color:#e47b75;
}
.list_all_information{
    border-bottom: 1px solid #eeeeee;
}
.list_all_information_mobile{
    color: #4f9ce0;
}
.list_all_information_name{
    color: #9381b3;
}
.list_all_information_time{
    color: #9cbb80;
}
.list_all_button{
    width: 100%;height: 20px;margin-top: -10px;color: #3ab5f3;
}
.list_all_button_delete{
    float: right;background: #ffffff;margin-top: -18px;color: #3ab5f3;
}
.list_all_button_update{
    height: 30px;float: right;margin-right: 1px;background: #ffffff;margin-top: -18px;
}
.xuanfu_plus{
    z-index: 55;
}
.xuanfu_icon_plus{
    position: fixed;bottom: 150px;right: 20px;
}
.xuanfu_icon_search{
    position: fixed;bottom: 80px;right: 20px;
}
#my-actions-search{
    background: rgba(0, 0, 0, 0.8);
}
.input_start_time{
    width: 50%; float: left;
}
.input_end_time{
    width: 50%;float: right;
}
.input_search_user{
    height: 50px;
}
.div_search_btn{
    margin-top: 30px;
}
.user_add_title{
    color: #3ab5f3;font-family: '宋体'
}
.user_add_bak{
    width: 100%; background: #ffffff;
}
.user_add_phone{
    width: 60%; height: 50px;
}
.user_add_user_name{
    float: right;margin-top: -60px; margin-right: 15%;
}
.user_add_money{
    width: 60%; height: 50px;
}
.user_add_button{
    margin-top: 50px;
}
.user_add_button_add{
    width: 48%; height: 50px; margin-left: 2%;
}
.user_add_button_equit{
    width: 48%; height: 50px;
}
#is_end{
    display: none;text-align: center; height: 20px; margin-top: -10px;font-size: 14px;
}

/*商家会员中心*/
*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;
    background-color: #f0efed;
}
.header{
    position: relative;
    z-index: 1;
}
.header_center{
    width: 100%;
    height: 210px;
    background-color: #b2e2fa;
    font-family: "宋体";
    position: relative;
}
.header_center img{
    width: 100%;
    height:210px;
}
.header_photo{
    position:absolute;
    left: 0;
    top: 0px;
    width:100%;
    height:180px;
    z-indent:2;
    line-height: 50px;
    text-align: center;

}

.header_photo_user{
    width:75px;height: 75px;border-radius: 75px;margin: 0 auto;margin-top: 20px; background-color:#d8d8d8;
}
.header_photo_user img{
    width: 75px;height: 75px;border-radius: 75px;
}
.header_photo_user_name{
    margin-top: -10px;color: #fff;font-size: 14px;
}
.header_font{
    position:absolute;bottom: 0; width:100%;height:80px;text-align: center;background: rgba(0, 0, 0, 0.3);
}
.header_font_1{
    color: #ffffff;font-family: '宋体';font-size: 22px;
}
.header_font_2{
    color: #ffffff;font-family: '宋体';font-size:14px;
}
.list{
    color: #696969;
}
.list_back{
    width: 100%;height: 60px;margin-top: 5px;background-color: #ffffff;
}
.list_bac_name{
    padding: 5px;line-height: 50px;margin-left: 10px;
}
.list_bac_jiantou{
    line-height: 50px;float: right;margin-right: 20px;font-size: 20px;
}
.footer{
    width: 100%;height: 60px; position:fixed; bottom:0;background-color: #ffffff;z-index: 555;border-top:1px solid #e9e9e9;color: #696969;
}
.footer_tab{
    text-align: center;
}
.footer_span_1{
    font-size: 20px;
}
.footer_span_2{
    font-size: 15px; font-family: '宋体';
}
/*商家会员中心*/


