@CHARSET "UTF-8";
/*注册一页，register.html*/
.am-g{
    margin-top: 70px;
}
.am-icon-mobile-phone{
    font-size: 26px;
}
.am-form-mobile{
    height: 50px;
}
.get_yzm_all{
    width:100%;
}
.get_btn_yzm{
    position:absolute;height: 50px;color: #ffffff;width:100px;right:3%;
}
.checkbox_agreement{
    color: #ff9003;
}
.checkbox_zhanghaoed{
    margin-left: 2px;font-size: 13px;
}
.am-btn-next{
    height:50px;margin:0 auto;margin-top: 90px;
}
/*注册一页，register.html*/

/*注册二页 register1.html*/
.app{
    height: 100%;
    position: absolute;
    display: none;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
.bar{
    height: 50px;
    padding: 10px;
    line-height: 30px;
    position: relative;
    z-index: 999;
}
.main{
    position: absolute;
    top:30px;
    bottom: 0;
    left:0;
    right: 0;
}
.upload-mask{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}
.bar{
    color: white;
    background: darkslategrey;
}
.photo-canvas{
    position: absolute;
    top:50%;
    left:50%;
    border: 1px solid black;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    z-index: 4;
    /*background:white;*/
}
#preview{
    display: block;
    z-index: 2;
}
#previewResult{
    background: #f2eeeb;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.preview-box{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    z-index: 2;
}

#getFile{
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    vertical-align: middle;
    padding: 6px 5px;
    line-height: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

#uploadPage button{
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 10px 20px;
    position: relative;
}
/*注册二页 register1.html*/

/*登录页login.html*/
.login_all{
    width: 100%;
}
.login_all div{
    width:85px;height: 85px;border-radius: 85px;margin: 0 auto;margin-top: 30px; background-color: blue;
}
.login_all div img{
    width: 85px;height: 85px;border-radius: 85px;
}
.login_all_form{
    width: 100%;margin-top: 30px;
}
.login_form_mobile{
    width: 90%;margin: 0 auto;
}
.login_form_mobile i{
    font-size: 20px;
}
.login_form_mobile input,.login_form_password input{
    height: 50px;
}
.login_form_password{
    width: 90%;margin: 0 auto;margin-top: 5px;
}
.login_form_password i{
    font-size: 18px;
}
.login_form_btn{
    width: 90%; height:50px;margin:0 auto;margin-top: 40px;
}
.login_others{
    font-size: 14px;color: #f6c70a;margin-top: 10px;
}
.login_others .login_others_forget_pwd{
    margin-left: 8%;
}
.login_others .login_others_news_user{
    float: right;margin-right: 8%;
}
/*登录页 login.html*/


/*注册商店*/
.top {height: 30px;}
.top input{
    height: 30px; line-height: 30px;
}
.top #r-result{
    float: left;
}
.top .right{
    float: right;
}
.top .right .points{
    width: 110px;
    float: left;
    margin-right: 10px;
}
.top .right .points input{
    width:75px;
    display: inline-block;
}
.top .right .queren{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: red;
    color: #fff;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
.tangram-suggestion-main{
    z-index:10000
}
img{
    width:100%
}
.upload_img_all{
    width: 100%;text-align: center;margin-top: 20px;
}
.upload_img_div1{
    position: relative;
}
.upload_img_div2{
    width: 100px;height: 100px;margin: 0 auto;
}
#previewResult{
    width: 100px;height: 100px;z-index: 11;
}
#license_previewResult{
    width: 100px;height: 100px;z-index: 11;
}
.upload_img_btn{
    margin-top: 10px;
}
/*注册商店*/

/*修改密码2 rewrite_pwd.html*/
.rewrite_pwd_all{
    margin-top: 70px;
}
.rewrite_pwd_all_zhong{
    width: 100%;margin-top: 30px;
}
.rewrite_pwd_new_pwd{
    width: 90%;margin: 0 auto;margin-top: 5px;
}
.rewrite_pwd_new_pwd i{
    font-size: 18px;
}
.rewrite_pwd_new_pwd input{
    height: 50px;
}
.rewrite_pwd_sure_pwd{
    width: 90%;margin: 0 auto;margin-top: 5px;
}
.rewrite_pwd_sure_pwd i{
    font-size: 18px;
}
.rewrite_pwd_sure_pwd input{
    height: 50px;
}
.rewrite_pwd_btn{
    width: 90%; height:50px;margin:0 auto;margin-top: 40px;
}
/*修改密码2 rewrite_pwd.html*/









