<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">
            {{if $data.status == 1}}提现——待审核{{/if}}
            {{if $data.status == 2}}提现——审核通过{{/if}}
            {{if $data.status == -1}}提现——审核拒绝{{/if}}</strong></div>
    </div>

    <div class="am-g">

        <form method="post" action="{{site_url url='withdraw/list_withdraw'}}/{{$status}}/1" class="search_form">

            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="hidden" name="type" value="{{$data.status}}">
                    <input type="text" class="am-form-field" name="keyword" value="{{$data.keyword}}" placeholder="请输入会员名称或手机号码">
          <span class="am-input-group-btn">
            <input type="submit" class="am-btn am-btn-default" value="搜索"/>
          </span>
                </div>
            </div>

        </form>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>会员账户姓名</th>
                    <th>会员账户手机</th>
                  <th>开户名</th>
                    <!--  <th>开户银行</th>
                    <th>银行账户</th>
                    <th>具体支行名字</th>-->
                    <th>提现金额</th>
                    <th>申请时间</th>
                    {{if $data.status != 1}}<th>审核时间</th>{{/if}}
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{foreach from=$data.items key=key item=item}}
                <tr>
                    <td>{{$item.id}}</td>
                    <td><a>{{$item.u_name}}</a></td>
                    <td><a>{{$item.mobile}}</a></td>
                    <td><a>{{$item.rel_name}}</a></td>
                   <!-- <td><a>{{$item.bank}}</a></td>
                    <td><a>{{$item.bank_no}}</a></td>
                    <td><a>{{$item.bank_branch}}</a></td>-->
                    <td><a>{{$item.money/100}}元</a></td>
                    <td><a>{{$item.cdate}}</a></td>
                    {{if $data.status != 1}}<td><a>{{$item.adate}}</a></td>{{/if}}
                    <td><div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a type="button" class="am-btn am-btn-danger" href="{{site_url url='withdraw/withdraw_detail'}}/{{$item.id}}/2">
                                <span class="am-icon-pencil-square-o"></span> 详情
                            </a>
                        </div>
                    </div></td>
                </tr>
                {{/foreach}}
                </tbody>
            </table>
            <div class="am-cf">{{$pager}}</div>
        </div>

    </div>
</div>
<!-- content end -->

