{{include file="./header.html"}}
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered"><br>
        <form method="post" class="am-form " action="/frontend/forget_page" data-am-validator>
            <div class="am-form-group am-form-icon">
                <i class="am-icon-mobile-phone"></i>
                <input type="number" id="doc-vld-phone-2"  name="mobile" class="am-form-field js-pattern-number am-form-mobile" placeholder="请输入你的手机号(11位)" style="height: 50px;" required />
            </div>
            <div class="get_yzm_all">
                <div class="am-form-group">
                    <input type="number" name="yzm" id="doc-vld-yanzhengma-2" style="width: 60%; height: 50px; position:absolute;left:12px;right:100px" placeholder="请输入验证码" required/>
                </div>
                <a href="javascript:;" onclick="get_yzm(this)" id="get_yzm">
                    <input class="am-btn-secondary get_btn_yzm" type="button" value="获取验证码">
                </a>
            </div>
            <button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next">下一步</button>
        </form>
    </div>
</div>
<script>
    window.wait = 90
    function get_yzm(obj){
        if(!$("#doc-vld-phone-2").val()){
            alert('请输入手机号码');
            return false;
        }
//        {{literal}}
        if(!(/^1[34578]\d{9}$/.test($("#doc-vld-phone-2").val()))){
            alert("手机号码有误，请重填");
            return false;
        }
//        {{/literal}}
        $.getJSON("{{site_url url='/frontend/get_yzm_forget'}}/"+$("[name='mobile']").val(),function(data){
            if(data.error != 0){
                alert(data.msg);
                return false;
            }
            time($("#get_yzm").find('input'))
        });
    }
    function time(o) {
        if (window.wait == 0) {
            o.attr('disabled',false);
            o.val('获取验证码');
            window.wait = 90;
        } else {
            o.attr('disabled',true);
            o.val("重新发送"+(window.wait))
            window.wait--;
            setTimeout(function() {
                        time(o)
                    },
                    1000)
        }
    }
</script>

