{{foreach from=$data.items item=row}}

		<!--缩略图在标题左边-->
<a href="{{site_url url='frontend/shop_details'}}/{{$row.id}}">
		<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="padding-top: 0;">
			<div class="am-u-sm-4 am-list-thumb" style=" height: 80px;margin-top: 10px;">
				<!--<img src="{{$base_url}}upload/logo/{{$row.logo}}" alt="" style="height: 80px;"/>-->
				<img src="{{$base_url}}upload/logo/{{$row.logo}}" alt="" style="height: 80px;"/>
			</div>

			<div style="position: absolute;">
				<img src="{{$base_url}}statics/images/series24.png" alt="" style=" width: 35px; height: 38px;"/>
			</div>

			<div class=" am-u-sm-8 am-list-main">
				<h3 class="am-list-item-hd" style="color: #0e90d2; margin-left: 4px;overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:1;-webkit-box-orient:vertical;
">{{$row.shop_name}}</h3>
				<div class="am-list-item-text" style="margin-left: 4px;overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:1;-webkit-box-orient:vertical;
">{{$row.desc}}</div>
				<!--<div class="am-list-item-text" style="margin-left: 4px;">类别：<span>{{$row.percent}}系列</span></div>-->
				<div class="am-list-item-text" style="margin-left: 4px;">距离:
					{{if $row.juli < 1}}
					{{$row.juli*1000}}米
					{{else}}
					{{$row.juli}}千米
					{{/if}}
					</div>
				<div class="am-list-item-text" style="margin-left: 4px;overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:1;-webkit-box-orient:vertical;
">地址:{{$row.address}}</div>
			</div>
		</li>
</a>



{{/foreach}}