{{include file="./header.html"}}
<div style="width: 100%;">
    <div style="width:85px;height: 85px;border-radius: 85px;margin: 0 auto;margin-top: 30px; background-color: blue;">
        <img src="{{$base_url}}statics/images/user.jpg" style=" width: 85px;height: 85px;border-radius: 85px;">
    </div>
</div>

  <div style="width: 100%;margin-top: 30px; ">
     <div class="am-form-group am-form-icon" style="width: 90%;margin: 0 auto;">
           <i class="am-icon-lock" style="font-size: 18px;"></i>
           <input type="number" id="doc-vld-mima-1"  name="mobile" class="am-form-field js-pattern-number"　minlength="3" placeholder="请输入您的密码(至少6位字符)" style="height: 50px;" required />
     </div>
      <div class="am-form-group am-form-icon" style="width: 90%;margin: 0 auto;margin-top: 5px;">
          <i class="am-icon-lock" style="font-size: 18px;"></i>
          <input type="number" id="doc-vld-mima-2"  name="mobile" class="am-form-field js-pattern-number"　minlength="3" placeholder="请输入您的密码(至少6位字符)" style="height: 50px;" required />
      </div>
  </div>