{{include file="./header.html"}}
<div class="login_all">
    <div><img src="{{$base_url}}statics/images/user.jpg"></div>
</div>
<form method="post" class="am-form " action="{{site_url url='frontend/check_login'}}" data-am-validator>
  <div class="login_all_form">
     <div class="am-form-group am-form-icon login_form_mobile">
           <i class="am-icon-mobile-phone"></i>
           <input type="number" id="doc-vld-mima-1"  name="mobile" class="am-form-field js-pattern-mobile" placeholder="请输入您的手机号" required />
     </div>
      <div class="am-form-group am-form-icon login_form_password">
          <i class="am-icon-lock"></i>
          <input type="password" id="doc-vld-mima-2"  name="password" class="am-form-field js-pattern-pwd" placeholder="请输入您的密码" required />
      </div>
  </div>
    <button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block login_form_btn">登陆</button>
</form>
<div class="login_others">
    <a href="{{site_url url='frontend/forget_pwd'}}"><span class="login_others_forget_pwd">忘记密码？</span></a>
    <a href="{{site_url url='frontend/register'}}"><span class="login_others_news_user">新用户注册</span></a>
</div>
<script>
    if ($.AMUI && $.AMUI.validator) {
        $.AMUI.validator.patterns.mobile = /^\s*1\d{10}\s*$/;
    }
    if ($.AMUI && $.AMUI.validator) {
        $.AMUI.validator.patterns.pwd = /^[0-9 | A-Z | a-z]{6,16}$/;
    }
</script>