<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="index">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed"
          href="{{$base_url}}statics/amaze/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet"
          href="{{$base_url}}statics/amaze/css/amazeui.min.css" />
    <link rel="stylesheet" href="{{$base_url}}statics/amaze/css/admin.css">
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{$base_url}}assets/js/polyfill/rem.min.js"></script>
    <script src="{{$base_url}}assets/js/polyfill/respond.min.js"></script>
    <script src="{{$base_url}}assets/js/amazeui.legacy.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="{{$base_url}}statics/amaze/js/jquery.min.js"></script>
    <script src="{{$base_url}}statics/amaze/js/amazeui.js"></script>
    <!--<![endif]-->
    <script src="{{$base_url}}statics/amaze/js/app.js"></script>

    <script src="{{$base_url}}statics/js/common.js"></script>

</head>
<body style="overflow-y:hidden;">
<form method="post" action="/frontend/register">
    <input type="text" name="mobile" placeholder="手机"><a href="javascript:get_yzm();">获取验证码</a><br/>
    <input type="text" placeholder="验证码">
    <button>提交</button>
</form>

<script>
    function get_yzm(){
        $.get("{{site_url url='/frontend/get_yzm'}}/"+$("[name='mobile']").val(),function(data){
            console.log(data)
        });
    }
</script>
</body>


</html>

