{{include file="./header.html"}}
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <form id="save_form" class="am-form-inline" method="post" action="{{site_url url='frontend/save_register'}}" data-am-validator>
        <div class="am-form-group am-form-file" style="width: 100%;text-align: center;margin-top: -10px;">
            <input id="file" type="file" accept="image/*" capture=camera"/>
            <div style="position: relative;">
                  <div style="">
                    <img id="previewResult" style="z-index: 11;"/>
                  </div>
                    <button type="button" class="am-btn am-btn-danger am-btn-sm" style="margin-top: 10px;">
                    <i class="am-icon-cloud-upload"></i> 上传头像</button>
            </div>
            <input type="hidden" name="img_input" id="img_input">
        </div>
        <div class="am-form-group am-form-icon">
            <i class="am-icon-lock" style="font-size: 18px;"></i>
            <input type="password" id="doc-vld-pwd-1"  name="password" class="am-form-field js-pattern-pwd" minlength="6" placeholder="请输入您的密码(至少6位字符)" style="height: 50px;" required />
        </div>
        <div class="am-form-group am-form-icon">
            <i class="am-icon-lock" style="font-size: 18px;"></i>
            <input type="password" id="doc-vld-pwd-2" data-equal-to="#doc-vld-pwd-1"  name="repassword" class="am-form-field" placeholder="请确认您的密码" style="height: 50px;" required />
        </div>

            <div class="am-form-group am-form-icon" style="height: 50px;">
                <i class="am-icon-tag"></i>
                <input type="hidden" name="parent_id" id="parent_id">
                <input type="text" name="parent_flag" class="am-form-field user_add_phone" placeholder="请输入邀请人电话/id（必填）" style="height: 50px;" onblur="get_name_by_keywords(this)" required/>
            </div>

            <div class="am-form-group am-form-icon" id="inviter-block" hidden>
                <i class="am-icon-user" style="font-size: 18px;"></i>
                <input type="text" class="am-form-field js-pattern-number user_add_phone" placeholder="邀请人" id="inviter" disabled/>
            </div>

        <div class="am-form-group">
                <select name="province_code" onchange="changeSelect(this)" style="width:30%; ">
                    <option value="">-省份-</option>
                    {{foreach from=$provinces item=row}}
                    <option value="{{$row.code}}">{{$row.name}}</option>
                    {{/foreach}}
                </select>
                &nbsp;&nbsp;
                <select name="city_code" style="width:30%; " onchange="changeSelectCity(this)">
                    <option value="">-城市-</option>
                </select>
            <select name="area_code" style="width:30%; ">
                <option value="">-区域-</option>
            </select>
        </div>
        <div class="am-form-group am-form-icon">
            <i class="am-icon-user"></i>
            <input type="text" id="doc-vld-phone-2"  name="rel_name" class="am-form-field"  placeholder="请输入真实姓名" style="height: 50px;" required />
        </div>
        <div class="am-form-group am-form-icon">
            <i class="am-icon-credit-card" style="font-size:15px;"></i>
            <input type="number" id="doc-vld-credit-2"  name="id_no" class="am-form-field js-pattern-number" placeholder="请输入您的身份证号(18位)" style="height: 50px;" required />
        </div>
            <button id="save_btn" type="button" class="am-btn am-btn-secondary am-btn-default am-btn-block" style=" height:50px;margin:0 auto;">注册</button>
        </form><br>
    </div>
</div>
<div class="app" id="uploadPage">
    <div class="bar"><a class="back pull-left" id="closeCrop"><i class="fa fa-reply"></i></a><a id="getFile" class="pull-right">使用</a></div>
    <div class="main">
        <canvas class="upload-mask">
        </canvas>
        <div class="preview-box">
            <img id="preview"/>
        </div>
        <canvas class="photo-canvas">
        </canvas>
    </div>
</div>
<script src="{{$base_url}}statics/js/localResizeIMG.js"></script>
<script src="{{$base_url}}statics/js/mobileBUGFix.mini.js"></script>
<script>
    if ($.AMUI && $.AMUI.validator) {
        $.AMUI.validator.patterns.pwd = /^[0-9 | A-Z | a-z]{6,16}$/;
    }
    function get_yzm(){
        $.get("{{site_url url='/frontend/get_yzm'}}/"+$("[name='mobile']").val(),function(data){
            console.log(data)
        });
    }

    $('#file').localResizeIMG({
        width: 300,
        height: 300,
        quality: 1,
        success: function (result) {
            $("#img_input").val(result.base64);
            $("#previewResult").attr('src',result.base64)
        }
    });
</script>
<script type="text/javascript">

    function get_name_by_keywords(obj){
        var invite_flag = $(obj).val();
            if(invite_flag){
                $.getJSON("{{site_url url='frontend/get_naid_by_keywords'}}/"+invite_flag,function(data){
                    if(data){
                        var str = '邀请人：'+data.rel_name;
                        $("#inviter").val(str)
                        $("#parent_id").val(data.id)
                        $('#inviter-block').show()
                    }else{
                        $("#parent_id").val('')
                        $('#inviter-block').hide()
                        alert('邀请人手机号错误')
                    }
                })
            }
    }
    function changeSelect(obj)
    {
        province = $(obj).val();
        html = '<option value="">-请选择城市-</option>'
        if(province){
            $.getJSON("{{site_url url='frontend/get_city'}}/"+province,function(data){
                data.forEach(function(item){
                    html += '<option value="'+ item.code +'">'+item.name+'</option>'

                })
                $("[name='city_code']").html(html)
            });
        }else{
            $("[name='city_code']").html(html)
        }
    }

    function changeSelectCity(obj)
    {
        city = $(obj).val();
        html = '<option value="">-请选择区域-</option>'
        if(city){
            $.getJSON("{{site_url url='frontend/get_area'}}/"+city,function(data){
                data.forEach(function(item){
                    html += '<option value="'+ item.code +'">'+item.name+'</option>'

                })
                $("[name='area_code']").html(html)
            });
        }else{
            $("[name='area_code']").html(html)
        }
    }

    $("#save_btn").click(function(){
        if($("#parent_id").val()==''){
            alert('请正确填写推荐人!');
            return false;
        }

        $("#save_form").submit();
    })
</script>



</body>
</html>
