{{include file="../public/header.html"}}
<link rel="stylesheet" href="../../statics/css/forgetpwd.css">
<link rel="stylesheet" href="../../statics/css/skyregister.css">
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
    <span class="register_header_title">密码修改</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</header>
<div class="am-g rewrite_pwd_all">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <img class="sky_register_logo" src="../../statics/images/orderdetails_logo_icon.png"><br><br>
        <form method="post" class="am-form " action="{{site_url url='frontend/change_pwd'}}" data-am-validator>
           <div class="rewrite_pwd_all_zhong">
               <div class="am-form-group am-form-icon rewrite_pwd_new_pwd">
                   <i class="am-icon-lock"></i>
                   <input style="border-radius: 10px;" type="password" id="doc-vld-pwd-1"  name="password" class="am-form-field rewrite_pwd_input" placeholder="请输入新密码" required />
               </div>
               <div class="am-form-group am-form-icon rewrite_pwd_sure_pwd">
                    <i class="am-icon-lock"></i>
                    <input style="border-radius: 10px;" type="password" id="doc-vld-pwd-2" data-equal-to="#doc-vld-pwd-1" name="mobile" class="am-form-field rewrite_pwd_input_again" placeholder="请确认新密码"  required />
               </div>
            </div>
            <button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block rewrite_pwd_btn">提交</button>
        </form>
        </div>
    </div>