{{include file="./header.html"}}
<div class="am-g" style="margin-top: 70px;">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <br>
        <form method="post" class="am-form " action="{{site_url url='frontend/change_pwd'}}" data-am-validator>
           <div style="width: 100%;margin-top: 30px; ">
               <div class="am-form-group am-form-icon" style="width: 90%;margin: 0 auto;margin-top: 5px;">
                   <i class="am-icon-lock" style="font-size: 18px;"></i>
                   <input type="password" id="doc-vld-pwd-1"  name="password" class="am-form-field" placeholder="请输入新密码" style="height: 50px;" required />
               </div>
               <div class="am-form-group am-form-icon" style="width: 90%;margin: 0 auto;margin-top: 5px;">
                    <i class="am-icon-lock" style="font-size: 18px;"></i>
                    <input type="password" id="doc-vld-pwd-2" data-equal-to="#doc-vld-pwd-1" name="mobile" class="am-form-field" placeholder="请确认新密码" style="height: 50px;" required />
               </div>
            </div>
            <button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block" style="width: 90%; height:50px;margin:0 auto;margin-top: 40px">提交</button>
        </form>
        </div>
    </div>