{{include file="./header.html"}}
<style>
    /*!*第三行*!*/
    /*.row-three{*/
        /*margin: 10px;*/
        /*width: 100%;*/

    /*}*/
    /*!*5*!*/
    /*.row-five{*/
        /*padding: 10px;*/
        /*border-bottom: 1px solid #dbdbdb;*/
        /*font-size: 20px;*/
    /*}*/
    /*!*6*!*/
    /*.row-six{*/
        /*margin: 20px 0 0 10px;*/
        /*padding-left: 5px;*/
        /*line-height: 7px;*/
        /*border-bottom: 1px solid #dbdbdb;*/
    /*}*/
    /*!*9*!*/
    /*.row-nine{*/
        /*margin: 20px 0 0 10px;*/
        /*padding-left: 5px;*/
        /*line-height: 7px;*/
    /*}*/
</style>
<!--第一行-->
<body style="background:#ffffff;">
<div></div>
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <div class="am-list-news-bd" style="margin-top: -65px;">
        <ul class="am-list">
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
                <div  class="am-u-sm-4 am-list-thumb" style=" width:100px;height:110px;">
                    <img style=" width:100px;height:110px;" src="{{$base_url}}upload/logo/{{$data.logo}}" alt=""/>
                </div>
                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd"><a href="#" class="">{{$data.shop_name}}</a></h3>
                    <div class="am-list-item-text" style="margin-top: 10px;">
                        <p>
                           <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!--第二行-->
<div class="am-g row-two " style="margin-top: 3px;padding-bottom: 5px;">
    <div class="am-u-sm-9 font-sm">
        <i class="am-icon-map-marker" style="color:#12b8f6;"></i>
        {{$data.p_name}}{{$data.c_name}}{{$data.ar_name}}{{$data.address}}
    </div>
    <div class="am-u-sm-3">
        <a href="#" id="qu_map" class="font-sm">
            <i class="am-icon-send"></i>
            去这里
        </a>
    </div>
</div>
<!--第三行-->
<div class="row-three font-sm" style="border-bottom: 1px solid #dbdbdb;padding-bottom: 10px;padding-left: 1rem;">
    <i class="am-icon-phone" style="color:#12b8f6;"></i>
    {{$data.phone}}
</div>

<!--第五行-->
<div class="row-five" style="padding-left: 1rem;border-bottom: 1px solid #dbdbdb;padding-bottom: 5px;padding-top: 5px;font-size: 20px;color: #12b8f6;">
    <i class="am-icon-home" style="font-size: 28px;"></i>
    商家详情
</div>
<!--第六行-->
<div class="row-six" style="padding-left: 1rem;padding-top: 10px;border-bottom: 1px solid #dbdbdb;padding-bottom: 5px;">
    <span>营业时间</span>
    <span class="font-sm" style="margin-left: 20px;">{{$data.business_time}}</span>
</div>
<!--7-->
<!--<div class="row-six">
    <p>主营业务</p>
    <p class="font-sm">洗浴、按摩、餐饮、娱乐</p>

</div>-->
<!--8-->
<div class="row-six" style="padding-left: 1rem;padding-top: 10px;border-bottom: 1px solid #dbdbdb;">
    <!--<p style="border-bottom: 1px dashed #dbdbdb;">简介</p>-->
    <!--<p class="font-sm" style="margin-top: -10px;">&nbsp;&nbsp;{{$data.desc}}</p>-->
    <!--<span style="display: block;float: left;">简介：</span>-->
    <!--<p style="padding-left:3em;">{{$data.desc}}</p>-->

    <span style="display: block; float: left;padding-top: 10px;" style="color: #9381b3;">简介：</span>
    <p style="padding-left:3em;">{{$data.desc}}</p>
</div>
<!--9-->
<div class="row-nine" style="margin-bottom: 0px;padding-left: 1rem;padding-top: 10px;border-bottom: 1px solid #dbdbdb;padding-bottom: 5px;">
    <span>商家类型</span>
    <span class="font-sm"  style="margin-left: 20px;">{{$data.type_name}}</span>
</div>
<br>


{{include file="../public/footer.html"}}
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{$wxappId}}', // 必填，公众号的唯一标识
        timestamp: {{$wxtimestamp}}, // 必填，生成签名的时间戳
    nonceStr: '{{$wxnonceStr}}', // 必填，生成签名的随机串
            signature: '{{$wxsignature}}',// 必填，签名，见附录1
            jsApiList: ['getLocation','checkJsApi','openLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {

        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed; // 速度，以米/每秒计
                var accuracy = res.accuracy; // 位置精度


            },
            cancel: function (res) {
                /* stopCount();
                 */
                //alert(JSON.stringify(res));
            },
            error: function (res) {
                /*stopCount();
                 */
                //alert(JSON.stringify(res));
            }
        });

        $("#qu_map").click(function(){
            wx.openLocation({
                latitude: {{$data.lat}}, // 纬度，浮点数，范围为90 ~ -90
                longitude: {{$data.lng}}, // 经度，浮点数，范围为180 ~ -180。
                name: '', // 位置名
                address: '{{$data.address}}', // 地址详情说明
                scale: 12, // 地图缩放级别,整形值,范围从1~28。默认为最大
                infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
            });
        })

    });



</script>