{{include file="./header.html"}}
<style>
    ol.am-control-nav {
        display: none;
    }
    .am-slider-default .am-direction-nav a {
        display: none;
    }
    .table{
        width: 100%; height: 20px; border-collapse:collapse;color: #bfbfbf;;
    }
    .table tr{
        font-size: 14px; height: 20px; text-align: center;color: #999999;
    }
    .td{
      margin-top: -20px;
    }

   body{
       overflow:scroll;overflow-y:hidden; background-image: url(../../statics/images/4.jpg);
       background-repeat: no-repeat;
   }
   .show_information_card_all{
       background: rgba(255, 255, 255, 0.1); height: 100%;
   }
    .show_information_card_div_all{
        width: 70%;height: 300px;margin:0 auto;margin-top: 50px;background: rgba(255, 255, 255, 0.3);
    }
    .show_information_card_1{
        width: 100%;height: 100px;border-bottom: 1px dashed #ffffff;text-align: center;
    }
    .show_information_card_1 .show_information_card_title{
        padding-top: 20px;color: #f7e288;
    }

    .show_information_card_1 .show_information_card_refresh , .show_information_card_2 .show_information_card_date , .show_information_card_1 .show_information_card_money{
        color: #ffffff;
    }
    .show_information_card_1 .show_information_card_date{
        color: #f7e288;
    }
    .show_information_card_2{
        width: 100%;height: 90px;text-align: center;
    }
    .show_information_card_2 .show_information_card_title{
        padding-top:30px;color: #ffffff;
    }
    .show_information_card_div_all .show_information_card_2_content{
        width:80%;height: 60px; border: 1px dashed #ffffff;margin-top: 50px;margin: 0 auto;text-align: center;border-radius: 5px;
    }
    .show_information_card_2_content .show_information_card_2_content_all{
        width: 100%;height: 30px;margin:0 auto;
    }
</style>
<body>
<div class="am-slider am-slider-default show_information_card_all" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
      <!--  <li>
            <div class="am-animation-slide-top show_information_card_div_all">
                   <div class="show_information_card_1">
                       <div class="show_information_card_title">信使注册激励剩余总额</div>
                       <div class="show_information_card_money">99999999</div>
                   </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">信使注册激励剩余总额</div>
                    <div class="show_information_card_money">99999999</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">信使注册激励剩余总额</div>
                    <div class="show_information_card_money">99999999</div>
                    <div class="show_information_card_refresh"><span class="am-icon-undo"> &nbsp;点击刷新</span></div>
                </div>
            </div>
        </li>-->

        <li>
            <div class="test show_information_card_div_all">
                <div class="show_information_card_1">
                    <div class="show_information_card_title">待捐款</div>
                    <div class="show_information_card_money">{{($jukuan.djk.total|default:0)/100}}</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">上个捐款日捐赠</div>
                    <div class="show_information_card_date">{{$jukuan.zjjk.date|default:'--'}}</div>
                    <div class="show_information_card_money">{{($jukuan.zjjk.total|default:0)/100}}</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">累计捐赠</div>
                    <div class="show_information_card_money">{{($jukuan.zjk.total|default:0)/100}}</div>
                </div>
            </div>
        </li>

        <li>
            <div class="show_information_card_div_all">
                <div class="show_information_card_2">
                    <div class="show_information_card_title">供应链向日葵日值</div>
                    <div class="show_information_card_date">激励日期：{{if $data}}{{$data.date}}{{/if}}</div>
                </div>
                <div class="show_information_card_2_content">
                    <!--<div style="color: #f7e288;">&nbsp;{{if $data}}{{$data.ax6_price}}{{/if}}&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>-->
                    <div class="show_information_card_2_content_all">
                        <div style="width:90px;margin:0 auto;">
                            <span style="float: left;color: #f7e288;">&nbsp;{{if $data}}{{$data.ax6_price/100}}{{/if}}&nbsp;</span>
                            <img src="{{$base_url}}statics/images/sunflowerlogo.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                            <span style="float: left;color: #f7e288;">/</span>
                            <img src="{{$base_url}}statics/images/zhongzi.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;"><br>
                        </div>
                        <span style="font-size: 14px;color: #f7e288;" >6系列&nbsp;&nbsp;<span class="am-icon-star"></span><span class="am-icon-star"></span></span>
                    </div>
                </div>

                <div class="show_information_card_2_content">
                    <!--<div style="color: #f7e288;">&nbsp;{{if $data}}{{$data.ax12_price}}{{/if}}&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>-->
                    <div class="show_information_card_2_content_all">
                        <div style="width:95px;margin:0 auto;">
                            <span style="float: left;color: #f7e288;">&nbsp;{{if $data}}{{$data.ax12_price/100}}{{/if}}&nbsp;</span>
                            <img src="{{$base_url}}statics/images/sunflowerlogo.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                            <span style="float: left;color: #f7e288;">/</span>
                            <img src="{{$base_url}}statics/images/zhongzi.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;"><br>
                        </div>
                        <span style="font-size: 14px;color: #f7e288;" >12系列&nbsp;&nbsp;<span class="am-icon-star"></span><span class="am-icon-star"></span></span>
                    </div>
                </div>

                <div class="show_information_card_2_content">
                    <!--<div style="color: #f7e288;">&nbsp;{{if $data}}{{$data.ax24_price}}{{/if}}&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>-->
                    <div class="show_information_card_2_content_all">
                        <div style="width:90px;margin:0 auto;">
                            <span style="float: left;color: #f7e288;">&nbsp;{{if $data}}{{$data.ax24_price/100}}{{/if}}&nbsp;</span>
                            <img src="{{$base_url}}statics/images/sunflowerlogo.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                            <span style="float: left;color: #f7e288;">/</span>
                            <img src="{{$base_url}}statics/images/zhongzi.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;"><br>
                        </div>
                        <span style="font-size: 14px;color: #f7e288;" >24系列&nbsp;&nbsp;<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span></span>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="show_information_card_div_all">
                <div style="width: 100%;height: 90px;text-align: center;">
                    <div style="padding-top:30px;color: #ffffff;">全联盟向日葵日值 </div>
                    <div  style="color: #ffffff;">激励日期：{{if $data}}{{$data.date}}{{/if}}</div>
                </div>
                <div style="width:80%;height: 60px; border: 1px dashed #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center;border-radius: 5px;">
                    <!--<div style="color: #f7e288;">&nbsp;{{if $data}}{{$data.shop_ax6}}{{/if}}&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>-->
                    <div style="width: 100%;height: 30px;margin:0 auto;">
                        <div style="width:70px;margin:0 auto;">
                            <span style="float: left;color: #f7e288;">&nbsp;0&nbsp;</span>
                            <img src="{{$base_url}}statics/images/sunflowerlogo.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                            <span style="float: left;color: #f7e288;">/</span>
                            <img src="{{$base_url}}statics/images/zhongzi.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                        </div>
                    </div>
                    <div style="color: #f7e288;">
                        <p>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

                <div style="width:80%;height: 60px;border: 1px dashed #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center;border-radius: 5px;">
                    <!--<div style="color: #f7e288;">&nbsp;{{if $data}}{{$data.shop_ax12}}{{/if}}&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>-->
                    <div style="width: 100%;height: 30px;margin:0 auto;">
                        <div style="width:70px;margin:0 auto;">
                            <span style="float: left;color: #f7e288;">&nbsp;0&nbsp;</span>
                            <img src="{{$base_url}}statics/images/sunflowerlogo.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                            <span style="float: left;color: #f7e288;">/</span>
                            <img src="{{$base_url}}statics/images/zhongzi.png" style="width: 18px;height: 18px;float: left;margin-top: 5px;">
                        </div>
                    </div>
                    <div style="color: #f7e288;">
                        <p>

                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

                <div style="width:80%;height: 60px;border: 1px dashed #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center;border-radius: 5px;">
                    <div style="color: #f7e288;">&nbsp;{{if $data}}{{$data.shop_ax24}}{{/if}}&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>
                    <div style="color: #f7e288;">
                        <p>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

            </div>
        </li>

        <li>
        <div class="show_information_card_div_all">
            <div style="width: 100%;height: 50px;text-align: center;">
                <div style="padding-top:10px;color: #ffffff;">全联盟昨日消费</div>
            </div>
            <div style="width:80%;height: 60px;margin-top: 20px;margin: 0 auto;text-align: center;border: 1px dashed #ffffff;border-radius: 5px;">
                <div style="color: #cd2646;margin-top: 5px;">
                    <p>
                        <i class="am-icon-star"></i>
                    </p>
                    <div style="margin-top: -20px;">{{($ysday.per6.total|default:0)/100}}元</div>
                </div>
            </div>

            <div style="width:80%;height: 60px;border: 1px dashed #ffffff;border-radius: 5px;margin-top:20px;margin: 0 auto;text-align: center;">
                <div style="color: #cd2646;margin-top: 5px;">
                    <p>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                    </p>
                    <div style="margin-top: -20px;">{{($ysday.per12.total|default:0)/100}}元</div>
                </div>
            </div>

            <div style="width:80%;height: 60px;border: 1px dashed #ffffff;border-radius: 5px;margin-top: 20px;margin: 0 auto;text-align: center">
                <div style="color: #cd2646;margin-top: 5px;">
                    <p>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                    </p>
                    <div style="margin-top: -20px;">{{($ysday.per24.total|default:0)/100}}元</div>
                </div>
            </div>

        </div>
    </li>

        <li>
            <div class="show_information_card_div_all">
                <div style="width: 100%;height: 50px;text-align: center;">
                    <div style="padding-top:10px;color: #ffffff;">全国市级向日葵光荣榜</div>
                </div>
                <div>

                    <table class="table" border="0">
                        {{foreach from=$phangcity item=row}}
                        <tr style="color: #343434;">
                            <td class="td">{{$row.p_name}}-{{$row.c_name}}</td>
                            <td class="td">{{round(($row.alltotal|default:0)/1000000, 2)}}万元</td>

                        </tr>
                        {{/foreach}}
                    </table>
                </div>

            </div>
        </li>

        <li>
            <div  class="show_information_card_div_all">
                <div style="width: 100%;height: 50px;text-align: center;">
                    <div style="padding-top:10px;color: #ffffff;">全国向日葵光荣榜</div>
                </div>
                <div>
                    <table class="table" border="0">
                        {{foreach from=$phangcompany item=row}}
                        <tr style="color: #343434;">
                            <td class="td">{{$row.shop_name}}-{{$row.c_name}}</td>
                            <td class="td">{{round(($row.total/1000000),2)}}万元</td>

                        </tr>
                        {{/foreach}}
                    </table>
                </div>

            </div>
        </li>

        <li>
            <div class="show_information_card_div_all">
                <div style="width: 100%;height: 50px;text-align: center;">
                    <div style="padding-top:10px;color: #ffffff;">全联盟向日葵</div>
                </div>
                <div style="width:80%;height: 60px;border: 1px dashed #ffffff;border-radius: 5px;margin-top: 10px;margin: 0 auto;text-align: center">
                    <div style="color: #f7e288;margin-top: 5px;">
                        <div>联盟消费总额</div>
                        <div>{{($lminfo.lm_total.alltotal|default:0)/100}}元</div>
                    </div>
                </div>

                <div style="width:80%;height: 60px;border: 1px dashed #ffffff;border-radius: 5px;margin-top:20px;margin: 0 auto;text-align: center">
                    <div style="color: #f7e288;margin-top: 5px;">
                        <div>联盟消费信使人数</div>
                        <div style=";">{{($lminfo.lm_users.num|default:0)}}个</div>
                    </div>
                </div>

                <div style="width:80%;height: 60px; border: 1px dashed #ffffff;border-radius: 5px;margin-top: 20px;margin: 0 auto;text-align: center">
                    <div style="color: #f7e288;margin-top: 5px;">
                        <div>联盟商家</div>
                        <div style="">{{($lminfo.lm_shops.num|default:0)}}个</div>
                    </div>
                </div>

            </div>
        </li>

    </ul>
</div>
</body>


<script>
    $(function() {
        var $slider = $('#demo-slider-0');
        var counter = 0;
        var getSlide = function() {
            counter++;
            return '<li><img src="http://s.amazeui.org/media/i/demos/bing-' +
                    (Math.floor(Math.random() * 4) + 1) + '.jpg" />' +
                    '<div class="am-slider-desc">动态插入的 slide ' + counter + '</div></li>';
        };

        $('.js-demo-slider-btn').on('click', function() {
            var action = this.getAttribute('data-action');
            if (action === 'add') {
                $slider.flexslider('addSlide', getSlide());
            } else {
                var count = $slider.flexslider('count');
                count > 1 && $slider.flexslider('removeSlide', $slider.flexslider('count') - 1);
            }
        });

    });
</script>

{{include file="../public/footer.html"}}