<div class="am-offcanvas-bar admin-offcanvas-bar" id="menuDiv">
    <ul class="am-list admin-sidebar-list am-panel">
        <li><a href="/"><span class="am-icon-home"></span> 工作台</a></li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav1'}">
                <span class="am-icon-file"></span> 商家管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
            </a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav1">
                <li><a href="javascript:open_content('/admin.php/shop/list_shop_type');" class="am-cf menu"><span class="am-icon-check"></span> 分类列表</a></li>
                <li><a href="javascript:open_content('/admin.php/shop/list_shop_audit');" class="am-cf menu"><span class="am-icon-check"></span> 待审核列表 <span class="am-badge am-badge-danger am-margin-right am-fr">{{$count_info['audit_shop_count']}}</span></a></li>
                <li><a href="javascript:open_content('/admin.php/shop/list_shop');" class="am-cf menu"><span class="am-icon-check"></span> 全部商家列表 <span class="am-badge am-badge-danger am-margin-right am-fr">{{$count_info['shop_count']}}</span></a></li>
            </ul>
        </li>

        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav2'}">
                <span class="am-icon-file"></span> 会员管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
            </a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav2">
                <li><a href="javascript:open_content('/admin.php/user/list_users/1/1');" class="am-cf menu"><span class="am-icon-check"></span> 普通会员</a></li>
                <li><a href="javascript:open_content('/admin.php/user/list_users/2/1');" class="am-cf menu"><span class="am-icon-check"></span> 服务商</a></li>
                <li><a href="javascript:open_content('/admin.php/user/list_users/3/1');" class="am-cf menu"><span class="am-icon-check"></span> 联合服务商</a></li>
            </ul>
        </li>

        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav3'}">
                <span class="am-icon-file"></span> 订单管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
            </a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav3">
                <li><a href="javascript:open_content('/admin.php/order/list_orders');" class="am-cf menu"><span class="am-icon-check"></span> 订单审核</a></li>
            </ul>
        </li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav4'}">
                <span class="am-icon-file"></span> 提现管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
            </a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav4">
                <li><a href="javascript:open_content('/admin.php/withdraw/list_withdraw/1/1');" class="am-cf menu"><span class="am-icon-check"></span> 待审核</a></li>
                <li><a href="javascript:open_content('/admin.php/withdraw/list_withdraw/2/1');" class="am-cf menu"><span class="am-icon-check"></span> 审核通过</a></li>
                <li><a href="javascript:open_content('/admin.php/withdraw/list_withdraw/-1/1');" class="am-cf menu"><span class="am-icon-check"></span> 审核拒绝</a></li>
            </ul>
        </li>


    </ul>
</div>
<script>
    $('.menu').click(function () {
        $('.menu').css('background-color', '#FFFFFF');
        $(this).css('background-color', '#E3E3E3');
    });
</script>
