{{include file="./header.html"}}
<!--<script src="{{$base_url}}statics/js/user_list.js"></script>-->
<style>
    .am-panel-hd{
        padding: 0;
    }
    .am-popup-bd{
        padding: 0;
    }
    .list_all{
        color: #696969;overflow: auto;padding-bottom: 50px;
    }
    .list_all_btn{
        background: #ffffff;
        width: 100%;height: 50px;
    }
    .list_all_sort_img{
        margin-right: 10px;
    }
</style>
<body class="order_detail_body">
<div data-am-widget="list_news" class="am-list-news am-list-news-default" style="padding-bottom: 65px;">
    <!--列表标题-->
    <form class="am-form" data-am-validator action="/shop/tijiao_order/{{$data.id}}" method="post">
        <div class="am-list-news-bd">
            <div class="order_detail_lists">
                <span>总金额:&nbsp;{{$data.total/100}}元</span>
            </div>
            <div  class="order_detail_lists">
                <span>应交款:{{round($data.total * $data.percent/10000, 2)}}元</span>
            </div>
            <div class="order_detail_lists">
                <span>订单数:{{$data.num}}</span>
                <button type="button" class="am-btn am-btn-secondary" data-am-modal="{target: '#my-popup'}" style="float: right;margin-top: 5px;">查看</button>
            </div>

            <div class="order_detail_lists">
                <span>打卡支付宝账号:18662800108@163.com</span>
            </div>
            <div class="order_detail_lists">
                <span>打卡银行卡账号:1053 3801 0400 03615</span>
            </div>
            <div class="order_detail_lists">
                <span>账户名称:苏州筑伦网络技术有限公司</span>
            </div>


            <div class="order_detail_lists">
                <span>状态:
                        <span style="color: red;">{{if $data.status==1}}待提交{{/if}}</span>
                        <span style="color: red;">{{if $data.status==2}}待审核{{/if}}</span>
                        <span style="color: #00a0e9;">{{if $data.status==3}}已完成{{/if}}</span>
                        <span style="color: red;">{{if $data.status==-1}}审核失败!{{/if}}</span>
                </span>
            </div>
            <div class="order_detail_lists">
                <span>上传时间:{{$data.cdate}}</span>
            </div>
            <ul class="am-list">
                <li class="am-g am-list-item-dated" style="width: 100%;">
                    <div class="am-form-group am-form-file upload_img_all" style="width: 100%;">
                        <input id="license" type="file" accept="image/*" capture=camera"/>
                        <div class="upload_img_div1" style="width: 100%;">
                            <div class="upload_img_div2 oeder_detail_upload">
                                <img id="license_previewResult"  {{if $data.pic}}src="{{$base_url}}upload/order_pic/{{$data.pic}}"{{/if}}/>
                            </div>
                            <div style="width: 100%; text-align: center; margin-top: 10px;">
                            {{if $data.status==1}}  <button type="button" class="am-btn am-btn-danger am-btn-sm upload_img_btn" >
                            <i class="am-icon-cloud-upload"></i> 上传凭证</button>{{/if}}
                            <input type="hidden" name="pic" id="license_img_input">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="am-g am-list-item-dated">
                    <div class="am-form-group">
                        <label for="doc-ta-1">备注:</label>
                        <textarea name="remark" class="" rows="5" id="doc-ta-1">{{$data.remark}}</textarea>
                    </div>
                </li>
                    {{if $data.status ==1}}
                    <button type="submit" class="am-btn am-btn-secondary am-btn-block">提交</button>
                    {{/if}}
                    <a class="am-btn am-btn-default am-btn-block" href="{{site_url url='shop/list_order_audit'}}">返回</a>
            </ul>
        </div>
    </form>
</div>

<div class="am-popup" id="my-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title user_add_title">订单查看</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd user_add_bak">
            <div class="list_all">
                {{foreach from=$data.items item=row}}
                <div class="am-panel am-panel-default" style="margin-top: -5px;">
                    <div id="list_btn" class="am-panel-hd" style="width: 100%;">
                        <div class="am-panel-title list_all_btn" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{{$row.id}}'}">
                            <!--<span class="am-front-icon am-icon-user list_all_user_img" style="margin-left: 5px;"></span>-->
                            <!--<span class="list_all_user_id">&nbsp;ID:{{$row.uid}}</span>-->
                            <!--<span class="am-icon-sort-desc list_all_sort_img"></span>-->
                            <!--<span class="list_all_money">{{$row.price/100}}元</span>-->
                            <!--<span class="am-front-icon am-icon-rmb list_all_rmb"></span>-->
                            <table class="" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td id="home" style="width:65%;line-height: 50px;">
                                        <span class="am-front-icon am-icon-user list_all_user_img" style="margin-left: 5px;"></span>
                                        <span class="list_all_user_id">&nbsp;ID:{{$row.uid}}</span>
                                    </td>

                                    <td id="myorder" style="width:5%;">
                                        <span class="am-front-icon am-icon-rmb" style="color: #e47b75;"></span>
                                    </td>

                                    <td id="cheaporder" style="width: 22%;">
                                        <span>{{$row.price/100}}</span>
                                    </td>

                                    <td id="message" style="width: 8%;">
                                        <span class="am-icon-sort-desc" style="color: #569cf1;"></span>
                                    </td>
                                </tr>
                            </table>




                        </div>
                    </div>
                    <div id="do-not-say-{{$row.id}}" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd">
                            <p class="list_all_information"><span class="am-icon-phone list_all_information_mobile"></span>&nbsp;&nbsp;手机：{{$row.mobile}}</p>
                            <p class="list_all_information"><span class="am-icon-user list_all_information_name"></span>&nbsp;&nbsp;姓名：{{$row.rel_name}}</p>
                            <p class="list_all_information"><span class="am-icon-clock-o list_all_information_time"></span>&nbsp;&nbsp;时间：{{$row.cdate}}</p>
                        </div>

                    </div>
                </div>
                {{/foreach}}
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd">
            你，确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
{{include file="../public/footer.html"}}
</body>

<script src="{{$base_url}}statics/js/localResizeIMG.js"></script>
<script src="{{$base_url}}statics/js/mobileBUGFix.mini.js"></script>
<script>

    $('#license').localResizeIMG({
        width: 400,
//        height: 300,
        quality: 1,
        success: function (result) {
            $("#license_img_input").val(result.base64);
            $("#license_previewResult").attr('src',result.base64)
        }
    });

</script>

