<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$header_name}}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed"
          href="{{$base_url}}statics/amaze/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet"
          href="{{$base_url}}statics/amaze/css/amazeui.min.css" />
    <link rel="stylesheet" href="{{$base_url}}statics/amaze/css/admin.css">
    <link rel="stylesheet" href="{{$base_url}}statics/css/shopcss.css">
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{$base_url}}assets/js/polyfill/rem.min.js"></script>
    <script src="{{$base_url}}assets/js/polyfill/respond.min.js"></script>
    <script src="{{$base_url}}assets/js/amazeui.legacy.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="{{$base_url}}statics/amaze/js/jquery.min.js"></script>
    <script src="{{$base_url}}statics/amaze/js/amazeui.js"></script>
    <!--<![endif]-->
    <script src="{{$base_url}}statics/amaze/js/app.js"></script>

    <script src="{{$base_url}}statics/js/common.js"></script>
</head>
<body >
<div class="header" style="overflow: auto;">
    <div class="header_center">
        <img src="{{$base_url}}statics/images/shop.png">
        <div class="header_photo">
            <!--<a href="{{site_url url='frontend/register_shop'}}" class="header_shop am-icon-th-large" style="float: right;margin-right: 5px;font-size: 13px;margin-top: -10px;color: blue;">商家入驻</a>-->
            <div class="header_photo_user">
                <img src="{{$base_url}}{{if $user_info.logo}}upload/logo/{{$user_info.logo}}{{else}}statics/images/user.jpg{{/if}}">
            </div>
            <div class="header_photo_user_name">普通商家</div>
        </div>
        <div class="header_font">
            <span class="header_font_1">你好，{{$user_info.shop_name}}</span><br>
            <span class="header_font_2">
                营业额：{{$user_info.total/100}}元&nbsp;&nbsp;<span><img src="{{$base_url}}statics/images/sunflowerlogo.png" style="width: 25px;height: 25px;"></span>总计：{{$sum_count_shop|default:0}}</span>
        </div>
    </div>
    <div class="list">
        <a style="color: #696969" href="{{site_url url='shop/list_orders'}}">
            <div class="list_back">
                <span class="am-icon-shopping-cart list_bac_name">&nbsp;&nbsp;订单管理</span>
                <span class="list_bac_jiantou" >></span>
            </div>
        </a>
        <a style="color: #696969" href="{{site_url url='shop/list_order_audit'}}">
            <div class="list_back">
                <span class="am-icon-cart-plus list_bac_name">&nbsp;&nbsp;订单提交</span>
                <span class="list_bac_jiantou" >></span>
            </div>
        </a><br>

        <a style="color: #696969" href="{{site_url url='shop/shop_info'}}">
            <div class="list_back">
                <span class="am-icon-book list_bac_name">&nbsp;&nbsp;店铺资料</span>
                <span class="list_bac_jiantou" >></span>
            </div>
        </a><br>
    </div>
</div>
{{include file="../public/footer.html"}}
</body>