{{include file="./header.html"}}
<style>
    ol.am-control-nav {
        display: none;
    }
    .am-slider-default .am-direction-nav a {
        display: none;
    }
    .table{
        width: 100%; height: 20px; border-collapse:collapse;color: #bfbfbf;;
    }
    .table tr{
        font-size: 14px; height: 20px; text-align: center;color: #999999;
    }
    .td{
      margin-top: -20px;
    }

    .line_02{
        height: 1px;
        border-top: 1px solid #ddd;
        text-align: center;
        margin-top: 50px;
    }
    .line_02 span{
        position: relative;
        top: -12px;
        background: #fff;
        padding: 0 20px;
    }

   body{
       overflow:scroll;overflow-y:hidden; background-image: url(../../statics/images/4.jpg);
       background-repeat: no-repeat;
   }


</style>
<body style="">
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0" style="background: rgba(255, 255, 255, 0.1); height: 100%;">
    <ul class="am-slides">
        <li>
            <div style="width: 70%;height: 300px;margin:0 auto;margin-top: 30px;background: rgba(255, 255, 255, 0.3);" class="am-animation-slide-top">
                   <div style="width: 100%;height: 90px;border-bottom: 1px dashed #ffffff;text-align: center;">
                       <div style="padding-top: 10px;color: #f7e288;">信使注册激励剩余总额</div>
                       <div  style="color: #ffffff;">99999999</div>
                   </div>
                <div style="width: 100%;height: 100px;border-bottom: 1px dashed #ffffff;text-align: center;">
                    <div style="padding-top: 20px;color: #f7e288;">信使注册激励剩余总额</div>
                    <div  style="color: #ffffff;">99999999</div>
                </div>
                <div style="width: 100%;height: 100px;border-bottom: 1px dashed #ffffff;text-align: center;">
                    <div style="padding-top: 20px;color: #f7e288;">信使注册激励剩余总额</div>
                    <div style="color: #ffffff;">99999999</div>
                    <div style="color: #ffffff;"><span class="am-icon-undo"> &nbsp;点击刷新</span></div>
                </div>
            </div>
        </li>

        <li>
            <div style="width: 70%;height: 300px;background: rgba(0, 0, 0, 0.2);margin:0 auto;margin-top: 30px;">
                <div style="width: 100%;height: 90px;border-bottom: 1px dashed #ffffff;text-align: center;">
                    <div style="padding-top:30px;color: #f7e288;">待捐款</div>
                    <div  style="color: #ffffff;">88888</div>
                </div>
                <div style="width: 100%;height: 100px;border-bottom: 1px dashed #ffffff;text-align: center;">
                    <div style="padding-top: 20px;color: #f7e288;">上个捐款日捐赠</div>
                    <div style="color: #f7e288;">2016-11-10</div>
                    <div  style="color: #ffffff;">99999999</div>
                </div>
                <div style="width: 100%;height: 100px;border-bottom: 1px dashed #ffffff;text-align: center;">
                    <div style="padding-top: 20px;color: #f7e288;">累计捐赠</div>
                    <div style="color: #ffffff;">99999999</div>
                    <div style="color: #ffffff;"><span class="am-icon-undo"> &nbsp;点击刷新</span></div>
                </div>
            </div>
        </li>

        <li>
            <div style="width: 70%;height: 300px;background: rgba(255, 255, 255, 0.3);margin:0 auto;margin-top: 30px;">
                <div style="width: 100%;height: 90px;text-align: center;">
                    <div style="padding-top:30px;color: #ffffff;">供应链爱心日值</div>
                    <div  style="color: #ffffff;">激励日期：2016-11-11</div>
                </div>
                <div style="width:80%;height: 60px; background: #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center">
                    <div style="color: #cd2646;">&nbsp;1.73&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>
                    <div style="color: #cd2646;">
                        <p>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

                <div style="width:80%;height: 60px; background: #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center">
                    <div style="color: #cd2646;">&nbsp;1.73&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>
                    <div style="color: #cd2646;">
                        <p>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

            </div>
        </li>

        <li>
            <div style="width: 70%;height: 300px;background: rgba(0, 0, 0, 0.2);margin:0 auto;margin-top: 30px;" >
                <div style="width: 100%;height: 90px;text-align: center;">
                    <div style="padding-top:30px;color: #ffffff;">全联盟爱心日值</div>
                    <div  style="color: #ffffff;">激励日期：2016-11-11</div>
                </div>
                <div style="width:80%;height: 60px; background: #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center">
                    <div style="color: #cd2646;">&nbsp;1.73&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>
                    <div style="color: #cd2646;">
                        <p>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

                <div style="width:80%;height: 60px; background: #ffffff;margin-top: 50px;margin: 0 auto;margin-top: 30px;text-align: center">
                    <div style="color: #cd2646;">&nbsp;1.73&nbsp;<span class="am-icon-pagelines">&nbsp;/&nbsp;<span class="am-icon-heart"></span></span></div>
                    <div style="color: #cd2646;">
                        <p>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                            <i class="am-icon-star"></i>
                        </p>
                    </div>
                </div>

            </div>
        </li>

        <li>
        <div style="width: 70%;height: 300px;background: rgba(255, 255, 255, 0.3);margin:0 auto;margin-top: 30px;">
            <div style="width: 100%;height: 50px;text-align: center;">
                <div style="padding-top:10px;color: #ffffff;">全联盟昨日消费</div>
            </div>
            <div style="width:80%;height: 60px; background: #ffffff;margin-top: 20px;margin: 0 auto;text-align: center">
                <div style="color: #cd2646;margin-top: 20px;">
                    <p>
                        <i class="am-icon-star"></i>
                    </p>
                    <div style="margin-top: -20px;">0元</div>
                </div>
            </div>

            <div style="width:80%;height: 60px; background: #ffffff;margin-top:20px;margin: 0 auto;text-align: center">
                <div style="color: #cd2646;margin-top: 20px;">
                    <p>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                    </p>
                    <div style="margin-top: -20px;">10元</div>
                </div>
            </div>

            <div style="width:80%;height: 60px; background: #ffffff;margin-top: 20px;margin: 0 auto;text-align: center">
                <div style="color: #cd2646;margin-top: 20px;">
                    <p>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                        <i class="am-icon-star"></i>
                    </p>
                    <div style="margin-top: -20px;">20元</div>
                </div>
            </div>

        </div>
    </li>

        <li>
            <div style="width: 70%;height: 300px;background: rgba(0, 0, 0, 0.2);margin:0 auto;margin-top: 30px;" >
                <div style="width: 100%;height: 50px;text-align: center;">
                    <div style="padding-top:10px;color: #ffffff;">全国市级爱心光荣榜</div>
                </div>
                <div>
                    <table class="table" border="0">
                        <tr style="color: #343434;">
                            <td class="td">广东省-深圳市</td>
                            <td class="td">2449万元</td>

                        </tr>
                        <tr style="color: #343434;margin-top: -30px;">
                            <td class="td">广东省-深圳市</td>
                            <td class="td">2449万元</td>
                        </tr>
                    </table>
                </div>

            </div>
        </li>

        <li>
            <div style="width: 70%;height: 300px;background: rgba(255, 255, 255, 0.3);margin:0 auto;margin-top: 30px;" >
                <div style="width: 100%;height: 50px;text-align: center;">
                    <div style="padding-top:10px;color: #ffffff;">全国爱心光荣榜</div>
                </div>
                <div>
                    <table class="table" border="0">
                        <tr style="color: #343434;">
                            <td class="td">公司1</td>
                            <td class="td">2449万元</td>

                        </tr>
                        <tr style="color: #343434;margin-top: -30px;">
                            <td class="td">公司2</td>
                            <td class="td">2449万元</td>
                        </tr>
                    </table>
                </div>

            </div>
        </li>

        <li>
            <div style="width: 70%;height: 300px;background: rgba(0, 0, 0, 0.2);margin:0 auto;margin-top: 30px;" >
                <div style="width: 100%;height: 50px;text-align: center;">
                    <div style="padding-top:10px;color: #ffffff;">全联盟爱心</div>
                </div>
                <div style="width:80%;height: 60px; background: #ffffff;margin-top: 20px;margin: 0 auto;text-align: center">
                    <div style="color: #cd2646;margin-top: 20px;">
                        <div>联盟爱心消费总额</div>
                        <div>11111110元</div>
                    </div>
                </div>

                <div style="width:80%;height: 60px; background: #ffffff;margin-top:20px;margin: 0 auto;text-align: center">
                    <div style="color: #cd2646;margin-top: 20px;">
                        <div>联盟消费信使人数</div>
                        <div style=";">10元</div>
                    </div>
                </div>

                <div style="width:80%;height: 60px; background: #ffffff;margin-top: 20px;margin: 0 auto;text-align: center">
                    <div style="color: #cd2646;margin-top: 20px;">
                        <div>联盟商家</div>
                        <div style="">20元</div>
                    </div>
                </div>

            </div>
        </li>

    </ul>
</div>
</body>







<script>
    $(function() {
        var $slider = $('#demo-slider-0');
        var counter = 0;
        var getSlide = function() {
            counter++;
            return '<li><img src="http://s.amazeui.org/media/i/demos/bing-' +
                    (Math.floor(Math.random() * 4) + 1) + '.jpg" />' +
                    '<div class="am-slider-desc">动态插入的 slide ' + counter + '</div></li>';
        };

        $('.js-demo-slider-btn').on('click', function() {
            var action = this.getAttribute('data-action');
            if (action === 'add') {
                $slider.flexslider('addSlide', getSlide());
            } else {
                var count = $slider.flexslider('count');
                count > 1 && $slider.flexslider('removeSlide', $slider.flexslider('count') - 1);
            }
        });

    });
</script>

{{include file="../public/footer.html"}}